.table {
  margin-top: 2.5rem;
}

.feature-bar {
  height: 43px;
}

.mode-button {
  border-radius: 10px;
  max-height: inherit;
  padding: 0.4rem;
}

.btn-check+.btn {
  color: #858585;
  font-size: 1.2rem;
}

.btn-check:checked+.btn {
  background: #E6F1F5;
  border: 1px solid #96C4D4;
  border-radius: 8px;
  color: var(--ivy-link-corlor);
}

.connector-column {
  width: 330px;
  cursor: pointer;
}

.workflow-column {
  width: 350px;
  cursor: pointer;
}

.table-header {
  font-weight: 600;
  line-height: 140%;
}

#product-name {
  color: var(--ivy-primary-bg);
  text-decoration-color: var(--ivy-primary-bg);
  text-underline-offset: 2px;
}

.pagination {
  width: 16rem !important;
}

::ng-deep .pagination a {
  color: var(--ivy-primary-bg);
}

i.fa.fa-external-link::before {
  font-size: 2rem;
  color: var(--ivy-primary-bg);
}
