<div class="container">
  <div class="d-flex align-items-center justify-content-between gap-3 p-3">
    <!-- Search Bar -->
    <div class="flex-grow-1 d-flex">
      <app-product-filter class="flex-grow-1 w-100" (searchChange)="onSearchChanged($event)"
        [isProductHomepage]="false">
      </app-product-filter>
    </div>

    <!-- Mode Toggle -->
    <!-- <div class="btn-group" role="group">
      <input type="radio" class="btn-check" name="mode" id="defaultMode" autocomplete="off" checked>
      <label class="btn btn-outline-primary" for="defaultMode">Default mode</label>

      <input type="radio" class="btn-check" name="mode" id="reportMode" autocomplete="off">
      <label class="btn btn-outline-secondary" for="reportMode">Report mode</label>
    </div> -->

    <!-- Inside each tab, pass a unique identifier -->
    <!-- <div class="btn-group" role="group">
      <input type="radio" class="btn-check" [attr.name]="'mode-' + activeTab" [id]="'defaultMode-' + activeTab"
        autocomplete="off" [(ngModel)]="mode[activeTab]" value="default">
      <label class="btn btn-outline-primary" [for]="'defaultMode-' + activeTab">Default mode</label>

      <input type="radio" class="btn-check" [attr.name]="'mode-' + activeTab" [id]="'reportMode-' + activeTab"
        autocomplete="off" [(ngModel)]="mode[activeTab]" value="report">
      <label class="btn btn-outline-secondary" [for]="'reportMode-' + activeTab">Report mode</label>
    </div> -->

        <div class="btn-group" role="group">
      <input type="radio" class="btn-check" [attr.name]="'mode-' + activeTab" [id]="'defaultMode-' + activeTab"
        autocomplete="off" value="default" [checked]="activeTab2[activeTab]['default'] === true">
      <label class="btn btn-outline-primary" [for]="'defaultMode-' + activeTab">Default mode</label>

      <input type="radio" class="btn-check" [attr.name]="'mode-' + activeTab" [id]="'reportMode-' + activeTab"
        autocomplete="off" value="report" [checked]="activeTab2[activeTab]['report'] === true">
      <label class="btn btn-outline-secondary" [for]="'reportMode-' + activeTab">Report mode</label>
    </div>


  </div>
  <table class="table">
    <thead>
      <tr>
        <th class="text-primary username-column" [lang]="languageService.selectedLanguage()" sortable="name">
          {{ 'common.monitor.dashboard.connector' | translate }}</th>
        <th class=" text-primary username-column" [lang]="languageService.selectedLanguage()">
          {{ 'common.monitor.dashboard.ciLabel' | translate }}
          <app-build-badge-tooltip buildType="CI" />
        </th>
        <th class="text-primary content-devLabel" [lang]="languageService.selectedLanguage()">
          {{ 'common.monitor.dashboard.devLabel' | translate }}
          <app-build-badge-tooltip buildType="DEV" />
        </th>
        <th class="text-primary text-center rating-column" [lang]="languageService.selectedLanguage()">
          {{ 'common.monitor.dashboard.e2eLabel' | translate }}
          <app-build-badge-tooltip buildType="E2E" />
        </th>
        <th class="text-primary status-column" [lang]="languageService.selectedLanguage()">
          {{ 'common.monitor.dashboard.github' | translate }}</th>
      </tr>
    </thead>
    @if (displayedRepositories.length > 0) {
    <tbody>
      <tr *ngFor="let repo of displayedRepositories">
        <td class="product-name-column">
          <a [href]="repo.htmlUrl" target="_blank" rel="noopener noreferrer">
            <p>{{ repo.name }}</p>
          </a>
        </td>

        <td>
          <app-repo-test-result [workflow]="'CI'" [conclusion]="repo.ciConclusion" [lastUpdated]="repo.lastUpdated"
            [testResults]="repo.testResults" [mode]="mode[activeTab]">
          </app-repo-test-result>
        </td>
        <td>
          <app-repo-test-result [workflow]="'DEV'" [conclusion]="repo.devConclusion" [lastUpdated]="repo.lastUpdated"
            [testResults]="repo.testResults" [mode]="mode[activeTab]">
          </app-repo-test-result>
        </td>
        <td>
          <app-repo-test-result [workflow]="'E2E'" [conclusion]="repo.e2eConclusion" [lastUpdated]="repo.lastUpdated"
            [testResults]="repo.testResults" [mode]="mode[activeTab]">
          </app-repo-test-result>
        </td>
        <td>
          <a [href]="repo.htmlUrl" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-external-link" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </tbody>
    }
    @else if(displayedRepositories.length == 0 && !isLoading) {
    <tbody>
      <tr>
        <td colspan="12" class="border-0">
          <p class="text-primary m-0 text-center no-feedback" [lang]="languageService.selectedLanguage()">
            {{ 'common.approval.noFeedbacks' | translate }}
          </p>
        </td>
      </tr>
    </tbody>
    }
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="filteredRepositories.length" [(page)]="page" [pageSize]="pageSize"
      (pageChange)="refreshPagination()">
    </ngb-pagination>

    <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshPagination()">
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="15">15 items per page</option>
      <option [ngValue]="20">20 items per page</option>
    </select>
  </div>

  @if (isLoading) {
  <app-loading-spinner
    containerClasses="d-flex justify-content-center position-fixed align-items-center top-0 end-0 bottom-0 start-0 rounded overlay-background z-1"
    [key]="LoadingComponentId.MONITORING_REPO" />
  }
</div>
