.connector-column {
  width: 318px;
}

.workflow-column {
  width: 300px;
}

.table-header {
  font-weight: 600;
  line-height: 140%;
}

#product-name {
  color: var(--ivy-primary-bg);
}

.pagination {
  width: 16rem !important;
}

::ng-deep .pagination a {
  color: var(--ivy-primary-bg);
}

i.fa.fa-external-link::before {
  font-size: 2rem;
  color: var(--ivy-primary-bg);
}
