@use 'sass:math';

// Variables for commonly used values
$font-size: 12.91px;
$icon-size: 18.56px;
$gap-large: 13px;
$gap-small: 10px;
$height-small: 19px;
$height-large: 40px;
$aspect-ratio: math.div(1, 1);

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.p-0 {
  padding: 0;
}

.h-100 {
  height: 100%;
}

.rounded-circle {
  border-radius: 50%;
}

.img-fit-cover {
  object-fit: cover;
  aspect-ratio: $aspect-ratio;
}

.img-avatar {
  height: 100%;
}

.icon-feedback {
  font-size: $icon-size;
}

.feedback-header {
  height: $height-large;
  gap: $gap-large;
}

.feedback-username {
  gap: $gap-small;
}

.star-rating-container {
  height: $height-small;
  font-size: $font-size;
}

.collapsed {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.expanded {
  display: block;
}

.expand-toggle-link {
  cursor: pointer;
  color: var(--ivy-active-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.feedback-time-text {
  font-size: 1.2rem;
  line-height: 1.452rem;
  color: var(--text-feedback-time-color);
}

.feedback-content {
  white-space: pre-line;
}

.feedback-unapproved {
  color: grey;
}

#approve-button, #reject-button {
    // font-size: 1.6rem;
    font-weight: 500;
    line-height: 120%;
    cursor: pointer;
  }