<div class="container">
  <!-- @if (this.authService.getToken()) { -->
  <div class="row col-md-12">
    <h1 class="text-primary approval" [lang]="languageService.selectedLanguage()">
      {{ translateService.get('common.approval.approvalTitle') | async }}</h1>
    <div class="introduction-container">
      <div class="d-sm-block about">
        <h3 class="text-primary">
          {{ translateService.get('common.approval.about') | async }}
        </h3>
      </div>
      <div class="d-sm-block align-items-center contribute-link-container flex-fill">
        <h4 [lang]="languageService.selectedLanguage()" class="text-secondary"
          [innerHTML]="translateService.get('common.approval.instruction') | async">
        </h4>
      </div>
    </div>
  </div>

  <div class="feedback-container">
    <div class="tab-group d-flex flex-column justify-content-center align-items-start p-0 col-12">

      <!-- Tabs -->
      <div class="row-tab col-12">
        <ul ngbNav class="nav nav-tabs form-tabs">

          <!-- Review Feedback Tab -->
          <li class="nav-item d-flex flex-row position-relative border-bottom-1 p-2 justify-content-center align-items-start">
            <a id="review-tab" [lang]="languageService.selectedLanguage()" ngbNavLink class="nav-link tab-title border-0 bg-transparent active"
              role="tab" [ngClass]="{
                'text-secondary': themeService.isDarkMode(),
                'text-dark': !themeService.isDarkMode()
              }" data-bs-toggle="tab" data-bs-target="#review" aria-controls="review" aria-selected="true"
              (click)="setActiveTab('review')"
              [ngClass]="{'active': activeTab === 'review'}">
              Review Feedback
            </a>
          </li>

          <!-- History Tab -->
          <li class="nav-item d-flex flex-row position-relative border-bottom-1 p-2 justify-content-center align-items-start">
            <a id="history-tab" [lang]="languageService.selectedLanguage()" ngbNavLink class="nav-link tab-title border-0 bg-transparent"
              role="tab" [ngClass]="{
                'text-secondary': themeService.isDarkMode(),
                'text-dark': !themeService.isDarkMode()
              }" data-bs-toggle="tab" data-bs-target="#history" aria-controls="history" aria-selected="false"
              (click)="setActiveTab('history')"
              [ngClass]="{'active': activeTab === 'history'}">
              History
            </a>
          </li>

        </ul>
      </div>

      <!-- Tab Content -->
      <div class="tab-content col-12 default-cursor">

        <!-- Review Feedback Content -->
        <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="review-tab" [ngClass]="{'show active': activeTab === 'review'}">

          <div class="table-responsive mt-5">
            <table class="table">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Content</th>
                  <th>Rating</th>
                  <th>Status</th>
                  <th>Created At</th>
                  <th>Updated At</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                @for (feedback of pendingFeedbacks(); track $index) {
                <tr>
                  <td>
                    <img class="rounded-circle img-avatar img-fit-cover"
                    [src]="feedback.userAvatarUrl ?? '/assets/images/misc/avatar-default.png'"
                    alt="Github user avatar" width="40" height="40" />
                    {{ feedback.username ?? 'Github User' }}
                  </td>
                  <td class="text-primary">{{ feedback.content }}</td>
                  <td>{{ feedback.rating }}</td>
                  <td>{{ feedback.feedbackStatus }}</td>
                  <td>{{ feedback.createdAt | date: 'short' }}</td>
                  <td>{{ feedback.updatedAt | date: 'short' }}</td>

                  <td>
                    <div id="approve-button" style="display: inline-block; margin-right: 10px;"

                      (click)="onClickingApproveButton(feedback)">
                      <span [lang]="languageService.selectedLanguage()">Approve</span>
                    </div>

                    <div id="reject-button" style="display: inline-block;"
                      (click)="onClickingRejectButton(feedback)">
                      <span [lang]="languageService.selectedLanguage()">Reject</span>
                    </div>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>

        </div>

        <!-- History Content -->
        <div class="tab-pane fade" role="tabpanel" aria-labelledby="history-tab" [ngClass]="{'show active': activeTab === 'history'}">
          <div class="table-responsive mt-5">
            <table class="table">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Content</th>
                  <th>Rating</th>
                  <th>Status</th>
                  <th>Created At</th>
                  <th>Updated At</th>
                  <th>Moderator name</th>
                  <th>Review date</th>
                </tr>
              </thead>
              <tbody>
                @for (feedback of feedbacks(); track $index) {
                <tr>
                  <td>
                    <img class="rounded-circle img-avatar img-fit-cover"
                    [src]="feedback.userAvatarUrl ?? '/assets/images/misc/avatar-default.png'"
                    alt="Github user avatar" width="40" height="40" />
                    {{ feedback.username ?? 'Github User' }}
                  </td>
                  <td class="text-primary">{{ feedback.content }}</td>
                  <td>{{ feedback.rating }}</td>
                  <td>{{ feedback.feedbackStatus }}</td>
                  <td>{{ feedback.createdAt | date: 'short' }}</td>
                  <td>{{ feedback.updatedAt | date: 'short' }}</td>
                  <td>
                    {{ feedback.moderatorId }}
                  </td>
                  <td>
                    {{ feedback.reviewDate }}
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>

      </div>

    </div>
  </div>
  <!-- } -->
</div>
