<div class="container">
  @if (this.authService.getToken()) {
  <div class="row col-md-12">
    <h1 class="text-primary review" [lang]="languageService.selectedLanguage()">
      {{ translateService.get('common.review.approvalTitle') | async }}</h1>
    <div class="introduction-container">
      <div class="d-sm-block about">
        <h3 class="text-secondary">
          {{ translateService.get('common.review.about') | async }}
        </h3>
      </div>
      <div class="d-sm-block align-items-center contribute-link-container flex-fill">
        <h4 [lang]="languageService.selectedLanguage()" class="text-secondary"
          [innerHTML]="translateService.get('common.review.instruction') | async">
        </h4>
      </div>
    </div>
  </div>

  <div class="feedback-container">
    <div class="tab-group d-flex flex-column justify-content-center align-items-start p-0 col-12">

      <!-- Tabs -->
      <div class="row-tab col-12">
        <ul ngbNav class="nav nav-tabs form-tabs">

          <!-- Review Feedback Tab -->
          <li
            class="nav-item d-flex flex-row position-relative border-bottom-1 p-2 justify-content-center align-items-start">
            <a id="review-tab" [lang]="languageService.selectedLanguage()" ngbNavLink
              class="nav-link tab-title border-0 bg-transparent active" role="tab" [ngClass]="{
                'text-secondary': themeService.isDarkMode(),
                'text-dark': !themeService.isDarkMode()
              }" data-bs-toggle="tab" data-bs-target="#review" aria-controls="review" aria-selected="true"
              (click)="setActiveTab('review')" [ngClass]="{'active': activeTab === 'review'}">
              Review Feedback
            </a>
          </li>

          <!-- History Tab -->
          <li
            class="nav-item d-flex flex-row position-relative border-bottom-1 p-2 justify-content-center align-items-start">
            <a id="history-tab" [lang]="languageService.selectedLanguage()" ngbNavLink
              class="nav-link tab-title border-0 bg-transparent" role="tab" [ngClass]="{
                'text-secondary': themeService.isDarkMode(),
                'text-dark': !themeService.isDarkMode()
              }" data-bs-toggle="tab" data-bs-target="#history" aria-controls="history" aria-selected="false"
              (click)="setActiveTab('history')" [ngClass]="{'active': activeTab === 'history'}">
              History
            </a>
          </li>

        </ul>
      </div>

      <!-- Tab Content -->
      <div class="tab-content col-12 default-cursor">

        <!-- Review Feedback Content -->
        <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="review-tab"
          [ngClass]="{'show active': activeTab === 'review'}">

          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-primary username-column">Username</th>
                  <th class="text-primary">Content</th>
                  <th class="text-primary rating-column">Rating</th>
                  <th class="text-primary status-column">Status</th>
                  <th class="text-primary created-date-column">Created At</th>
                  <th class="text-primary updated-date-column">Updated At</th>
                  <th class="text-primary fixed-width">Action</th>
                </tr>
              </thead>
              <tbody>
                @for (feedback of pendingFeedbacks(); track $index) {
                <tr>
                  <td class="username-column">
                    <img class="rounded-circle img-avatar img-fit-cover"
                      [src]="feedback.userAvatarUrl ?? '/assets/images/misc/avatar-default.png'"
                      alt="Github user avatar" />
                    <span class="text-primary feedback-username"> {{ feedback.username ?? 'Github User' }}</span>
                  </td>
                  <td>
                    <p class="text-primary m-0 content-column">{{ feedback.content }}</p>
                  </td>
                  <td>
                    <p class="text-primary m-0 rating rating-column">{{ feedback.rating }}</p>
                  </td>
                  <td>
                    <p class="text-primary m-0 status-column">{{ feedback.feedbackStatus }}</p>
                  </td>
                  <td>
                    <p class="text-primary m-0 created-date-column">{{ feedback.createdAt | date: 'short' }}</p>
                  </td>
                  <td>
                    <p class="text-primary m-0 updated-date-column">{{ feedback.updatedAt | date: 'short' }}</p>
                  </td>

                  <td class="action-buttons fixed-width">
                    <div id="approve-button" (click)="onClickingApproveButton(feedback)">
                      <p class="mb-0" [lang]="languageService.selectedLanguage()">Approve</p>
                    </div>

                    <div id="reject-button" (click)="onClickingRejectButton(feedback)">
                      <p class="mb-0" [lang]="languageService.selectedLanguage()">Reject</p>
                    </div>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>

        </div>

        <!-- History Content -->
        <div class="tab-pane fade" role="tabpanel" aria-labelledby="history-tab"
          [ngClass]="{'show active': activeTab === 'history'}">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-primary username-column">Username</th>
                  <th class="text-primary">Content</th>
                  <th class="text-primary rating-column">Rating</th>
                  <th class="text-primary status-column">Status</th>
                  <th class="text-primary created-date-column">Created At</th>
                  <th class="text-primary updated-date-column">Updated At</th>
                  <th class="text-primary">Moderator Name</th>
                  <th class="text-primary">Review Date</th>
                </tr>
              </thead>
              <tbody>
                @for (feedback of feedbacks(); track $index) {
                <tr>
                  <td class="username-column">
                    <img class="rounded-circle img-avatar img-fit-cover"
                      [src]="feedback.userAvatarUrl ?? '/assets/images/misc/avatar-default.png'"
                      alt="Github user avatar" />
                    <span class="text-primary feedback-username">{{ feedback.username ?? 'Github User' }}</span>
                  </td>
                  <td>
                    <p class="text-primary m-0">{{ feedback.content }}</p>
                  </td>
                  <td>
                    <p class="text-primary m-0 rating rating-column">{{ feedback.rating }}</p>
                  </td>
                  <td>
                    <p class="text-primary m-0 status-column">{{ feedback.feedbackStatus }}</p>
                  </td>
                  <td>
                    <p class="text-primary m-0 created-date-column">{{ feedback.createdAt | date: 'short' }}</p>
                  </td>
                  <td>
                    <p class="text-primary m-0 updated-date-column">{{ feedback.updatedAt | date: 'short' }}</p>
                  </td>
                  <td>
                    <p class="text-primary m-0">{{ feedback.moderatorId }}</p>
                  </td>
                  <td>
                    <p class="text-primary m-0">{{ feedback.reviewDate | date: 'short' }}</p>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>
