<div>
  <p class="intro-text">
    <b>Monitoring</b>
    Please check daily
    <br />
    <a
      href="https://market.axonivy.com/monitoring"
      target="_blank"
      rel="noopener noreferrer">
      https://market.axonivy.com/monitoring
    </a>
    <br />
    Preview of Readme for publishing on market.axonivy.com
    <br />
    <a
      href="https://market.axonivy.com/release-preview"
      target="_blank"
      rel="noopener noreferrer">
      https://market.axonivy.com/release-preview
    </a>
  </p>
</div>