<div class="dropdown h-100">
  <button (click)="toggleDropdown()"
          [class]="buttonClass"
          [ngClass]="{'indicator-arrow__up': isDropdownOpen}"
          [attr.metaDataJsonUrl]="metaDataJsonUrl"
          [attr.aria-label]="ariaLabel">
    {{ selectedItem }}
  </button>
  <div class="dropdown-menu menu-bar" [class.show]="isDropdownOpen">
    @for (item of items; track $index) {
      <div class="dropdown-item item-bar text-primary" (click)="onSelect(item)"
      [attr.metaDataJsonUrl]="item.metaDataJsonUrl"
      [ngClass]="{'active': (item | activeItemPipe:selectedItem)}">
        {{ item.label | translate }}
      </div>
    }
  </div>
</div>
