<div class="dropdown h-100">
  <button (click)="toggleDropdown()"
          [class]="buttonClass"
          [ngClass]="{'indicator-arrow__up': isDropdownOpen}"
          [attr.meta_data_json_url]="meta_data_json_url"
          [attr.aria-label]="ariaLabel">
    {{ selectedItem }}
  </button>
  <div class="dropdown-menu menu-bar" [class.show]="isDropdownOpen">
    @for (item of items; track $index) {
      <div class="dropdown-item item-bar text-primary" (click)="onSelect(item)"
           [attr.meta_data_json_url]="item.meta_data_json_url"
           [ngClass]="{'active': isActiveItem(item , selectedItem)}">
        {{ item.label | translate }}
      </div>
    }
  </div>
</div>
