@use '../../../../../../assets/scss/dialog-base' as base;

@include base.dialog-base-styles;

.confirm-modal {
  width: 450px;
}

.confirm-message {
  font-size: 16px;
  margin-bottom: 10px;
}

.modal-footer .btn:not(.btn-cancel), .alert-danger{
  font-size: 13px;
}
