header {
  height: 100%;
}

app-header-toolbar {
  min-width: fit-content;
}

.header-container {
  height: 7rem;
  min-height: 7rem;
  max-height: fit-content;
}

::ng-deep .my-offcanvas {
  top: 7rem !important;
  height: calc(100% - 7rem) !important;
  width: 100vw !important;
}

::ng-deep .my-offcanvas-backdrop {
  top: 7rem !important;
  height: calc(100% - 7rem) !important;
  opacity: 0 !important;
}

.navbar {
  height: 100%;
}

.navbar-brand {
  padding-top: 0.8rem;
}

.logo__image {
  width: 130.5px;
  height: 20px;
  vertical-align: initial;
}

.header__menu-button {
  font-size: 24px;
}

@media all and (max-width: 992px) {
  .show,
  .min-height-100 {
    min-height: 85lvh;
  }

  .form-control {
    height: 43px;
  }

  .navbar {
    border: none;
  }

  .navbar-brand {
    padding: 14.42px 0;
  }
}

@media all and (max-width: 1200px) {
  .header__navbar-content {
    height: 90vh;
  }
}
