.navbar {
  opacity: 0px;
}

.navbar-brand {
  padding-top: 0.8rem;
}

.logo__image {
  width: 130.5px;
  height: 20px;
  vertical-align: initial;
}

.header__menu-button {
  font-size: 24px;
}

@media all and (max-width: 992px) {
  .show,
  .min-height-100 {
    min-height: 85lvh;
  }

  .form-control {
    height: 43px;
  }

  .navbar {
    border: none;
  }

  .navbar-brand {
    padding: 14.42px 0;
  }
}

@media all and (max-width: 1200px) {
  .header__navbar-content {
    height: 90vh;
  }
}
