.navbar {
  opacity: 0px;
}

.navbar-mobile {
  z-index: 1;
  background-color: red;
  // padding-bottom: 30px;
  transition: 0.5s;
  // overflow: hidden;
  height: 100vh;
  position: fixed;
  overflow-x: hidden;
  z-index: 1;
  background-color: red;
  padding-bottom: 30px;
  transition: 0.5s;
  overflow: hidden;  /* Prevents content from overflowing */
  height: auto;  /* Allows the menu to adjust its height */
  position: relative; /* Positioning is relative to its container */
}

.container-mobile {
  background-color: pink;
  position: relative;
  width: 100%;
  // margin-top: 30px;
}

.navbar-brand {
  padding-top: 0.8rem;
}

.logo__image {
  width: 130.5px;
  height: 20px;
  vertical-align: initial;
}

.header__menu-button {
  font-size: 24px;
}

@media all and (max-width: 992px) {
  .show,
  .min-height-100 {
    min-height: 85lvh;
  }

  .form-control {
    height: 43px;
  }

  .navbar {
    border: none;
  }

  .navbar-brand {
    padding: 14.42px 0;
  }

  .nav-link {
    height: 45px;
    padding: 10px 0px 10px 15px;
    gap: 0px;
    border-radius: 5px;
    opacity: 0px;
  }

  .nav-link.active {
    height: 45px;
    padding: 10px 15px 10px -15px;
    gap: 0px;
    border-radius: 5px;
    opacity: 0px;
    background-color: var(--ivy-secondary-background);
  }
}

@media all and (max-width: 1200px) {
  .header__navbar-content {
    height: 90vh;
  }
}
