
@use 'bootstrap/scss/bootstrap';
@use 'bootstrap-icons/font/bootstrap-icons.css';
@use './assets/scss/custom-style.scss';
@use './assets/scss/custom-modal-style.scss';

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

body {
  min-width: 370px;
}

html {
  font-size: 10px;
}

// Target google search bar dropdown
.gssb_c {
  display: none;
}