
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import './assets/scss/custom-style.scss';
@import './assets/scss/custom-modal-style.scss';

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

body {
  min-width: 370px;
}