<div class="row col-md-12">
  <h1
    class="text-primary admin-title"
    [lang]="languageService.selectedLanguage()">
    {{ translateService.get('common.admin.deprecated.title') | async }}
  </h1>
  <div class="introduction-container">
    <div class="d-sm-block admin-about">
      <h3 class="text-secondary">
        {{
          translateService.get('common.admin.deprecated.description')
            | async
        }}
      </h3>
    </div>
    <div
      class="d-sm-block align-items-center admin-help-text-container flex-fill">
      <h4
        [lang]="languageService.selectedLanguage()"
        class="text-secondary help-text"
        [innerHTML]="
          translateService.get('common.admin.deprecated.helpText') | async
        "></h4>
    </div>
  </div>
</div>

<div class="table-grid d-grid deprecated-container">
  <app-custom-sort-card class="custom-card"
                        [title]="'common.admin.deprecated.availableExtensions' | translate"
                        [badge]="deprecatedProductIds.length + ' / ' + deprecatedProductIds.length">
    <div card-header-right class="search-box d-flex align-items-center">
      <input
        type="search"
        class="search-input"
        [placeholder]="translateService.get('common.admin.deprecated.searchPlaceholder')| async" />

      <button
        type="button" (click)="trigger()"  (focus)="openDialog()"
        [ngClass]="themeService.isDarkMode() ? 'btn-light text-dark': 'btn-primary text-light'"
        [lang]="languageService.selectedLanguage()" class="btn border-0 mb-0 deprecated-button text-center">
        {{ 'common.admin.deprecated.deprecatedButton' | translate }}
      </button>
    </div>

    <thead>
    <tr>
      <th class="text-primary text-start order-column available-order-spacer" aria-hidden="true"></th>
      <th class="text-primary text-start order-column"> {{ 'common.admin.deprecated.order' | translate }}</th>
      <th class="text-primary text-start">{{ 'common.admin.extensionId' | translate }}</th>
    </tr>
    </thead>

    <tbody>
      @if (deprecatedProductIds.length === 0) {
        <tr class="empty-row text-center">
          <td
            colspan="2"
            class="text-primary"
            [lang]="languageService.selectedLanguage()">
            {{ 'common.admin.customSort.noExtensions' | translate }}
          </td>
        </tr>
      }

      @for (item of deprecatedProductIds; track item; let index = $index) {
        <tr>
          <td class="index available-index-spacer" aria-hidden="true"></td>
          <td class="index">{{ index + 1 }}</td>
          <td class="extension-cell">
            <div class="extension-item">
              <span class="extension-text">{{ item }}</span>
              <i class="bi bi-trash-fill delete-icon">
              </i>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </app-custom-sort-card>
</div>

@if (showDeprecatedProductDialog) {
  <div class="custom-modal-wrapper">
    <div class="modal-content custom-modal">

      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title">
          Deprecate One Product
        </h5>
        <button type="button" class="btn-close" (click)="closeDialog()"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <div class="mb-4 position-relative">
          <label class="form-label">Extension ID</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="deprecatedItems.productId"
            placeholder="html-dialog-demo"
            (click)="openExtensionDropdown()"
            (blur)="dropdownOpen = false"
          />
          @if (dropdownOpen && selectableProductIds.length) {
            <ul class="form-control show w-100 dropdown-menu-custom">
              @for (productId of selectableProductIds; track $index) {
                <li (mousedown)="selectExtension(productId)" class="dropdown-item"> {{ productId }} </li>
              }
            </ul>
          }
        </div>

        <div class="mb-2">
          <label class="form-label">{{ 'common.admin.deprecated.successor' | translate }}</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="deprecatedItems.successorUrl"
            placeholder="https://market.axonivy.com/portal"
          />
          <small class="text-muted">
            https://market.axonivy.com/portal
          </small>
        </div>

        <div class="form-check mt-3">
          <input
            type="checkbox"
            class="form-check-input"
            [(ngModel)]="deprecatedItems.addReadme"
            id="addReadmeCheckbox"
          />
          <label class="form-check-label" for="addReadmeCheckbox">
            {{ 'common.admin.deprecated.updateForReadmeText' | translate }}
          </label>
        </div>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button class="btn btn-light" (click)="closeDialog()">
          {{ 'common.admin.sync.cancelLabel' | translate }}
        </button>
        <button class="btn btn-primary" (click)="deprecatedProduct()">
          {{ 'common.admin.deprecated.deprecatedButton' | translate }}
        </button>
      </div>

    </div>
  </div>

  <!-- Backdrop -->
  <div class="custom-backdrop" (click)="closeDialog()"></div>
}
