.custom-card {
  width: 50%;
  margin: 0 auto;
}

.deprecated-container {
  margin-top: 9rem;
}

.delete-icon {
  color: #dc3545;
  cursor: pointer;
  font-size: 16px;
  margin-left: 12px;
  transition: all 0.2s ease;
}

.delete-icon:hover {
  transform: scale(1.2);
  color: #b02a37;
}
