@if (isDesignerEnvironment()) {
  <app-common-dropdown
    (click)="getVersionInDesigner()"
    [items]="versionDropdownInDesigner()"
    [selectedItem]="selectedVersionInDesigner()"
    buttonClass="form-select form-select-sm versions-selector__dropdown border__dropdown fs-md version-select-in-designer"
    ariaLabel=".form-select-sm example"
    (itemSelected)="onSelectVersionInDesigner($event.value)">
  </app-common-dropdown>
}

<button [lang]="languageService.selectedLanguage()" class="btn btn__install flex-grow-1" data-bs-toggle="tooltip"
        data-bs-placement="bottom" data-bs-html="true" id="install-button"
        data-bs-custom-class="custom-tooltip"
        [attr.data-bs-title]="getInstallationTooltipText()"
        [attr.product-id]="product.id"
        [attr.request-path]="environment.apiUrl"
        onClick = "function installInDesigner(){
          const selectedItemElement = document.querySelector('.version-select-in-designer');
          if (selectedItemElement) {
            const version = selectedItemElement.textContent.trim();
            const productId = document.getElementById('install-button').getAttribute('product-id');
            const requestPath = document.getElementById('install-button').getAttribute('request-path');

            const url = `${requestPath}/api/product-details/productjsoncontent?name=${productId}&tag=v${version.replace('Version ','')}`;
            install(url);
          }
        }
        installInDesigner();"
        [ngClass]="themeService.isDarkMode() ? 'btn-light' : 'btn-primary'">
  {{ 'common.product.detail.install.buttonLabel' | translate }}
</button>

@if(!isDesignerEnvironment()) {
<button [lang]="languageService.selectedLanguage()" class="btn btn__download btn-secondary primary-bg flex-grow-1"
  type="button" (click)="onShowVersionAndArtifact()" aria-expanded="false">
  {{ 'common.product.detail.download.buttonLabel' | translate }}
</button>
}

@if (isDropDownDisplayed()) {
<div class="dropdown-menu show maven-artifact-version__action border__dropdown">
  <div class="up-arrow border__dropdown position-absolute"></div>
  <form>
    <div class="form-group">
      <label for="artifacts-selector" [lang]="languageService.selectedLanguage()" class="form-label fs-md text-primary">
        {{
        'common.product.detail.download.artifactSelector.label' | translate
        }}
      </label>

      <div id="artifacts-selector">
        <app-common-dropdown
          [items]="artifacts()"
          [selectedItem]="selectedArtifactName"
          buttonClass="form-select form-select-sm artifacts-selector__dropdown border__dropdown fs-md"
          ariaLabel=".form-select-sm"
          (itemSelected)="onSelectArtifact($event)">
        </app-common-dropdown>
      </div>

    </div>
    <div class="form-group">
      <label for="version-selector" [lang]="languageService.selectedLanguage()"
        class="form-label mt-2 fs-md text-primary">
        {{
        'common.product.detail.download.versionSelector.label' | translate
        }}
      </label>

      <div id="version-selector">
        <app-common-dropdown
          [items]="versionDropdown()"
          [selectedItem]="selectedVersion()"
          buttonClass="form-select form-select-sm versions-selector__dropdown border__dropdown fs-md"
          ariaLabel=".form-select-sm example"
          (itemSelected)="onSelectVersion($event.value)">
        </app-common-dropdown>
      </div>
    </div>
    <a href="#" [lang]="languageService.selectedLanguage()"
      class="dev-versions__toggle primary-color text-decoration-none" (click)="onShowDevVersion($event)">
      @if (isDevVersionsDisplayed()) {
      {{ 'common.product.detail.download.hideDevVersions' | translate }}
      } @else {
      {{ 'common.product.detail.download.showDevVersions' | translate }}
      }
    </a>
    <div class="form-group d-flex justify-content-end">
      <button [lang]="languageService.selectedLanguage()" class="btn form-download__btn text-center"
        [ngClass]="themeService.isDarkMode() ? 'btn-light' : 'btn-primary'" (click)="downloadArtifact()" type="button"
        id="downloadButton">
        {{ 'common.product.detail.download.buttonLabel' | translate }}
      </button>
    </div>
  </form>
</div>
}

<script type="text/javascript">
  function installInDesigner() {
    console.log("asdasdasdasd")
    var url = `http://localhost:8080/api/product-details/productjsoncontent?name=vertexai-google&tag=v10.0.22`
    install(url);
  }

  var myButton = document.getElementById('#install-button');
  console.log(myButton)
  myButton.onclick = function(){
    console.log("asdasdasdasd")
    installInDesigner()
  }
</script>
