@switch (actionType) {
  @case (ProductDetailActionType.STANDARD) {
    <div class="install-download-button-container gap-2 w-100 d-flex">
      <button
        id="install-button"
        name="Install button"
        #installButton
        [matomoClickCategory]="MatomoCategory.BUTTON"
        [matomoClickAction]="MatomoAction.CLICK"
        [matomoClickName]="installButton.name + ' - ' + getTrackingEnvironmentBasedOnActionType()"
        [lang]="languageService.selectedLanguage()"
        class="btn btn__install flex-grow-1 me-lg-2"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        data-bs-html="true"
        data-bs-title="<p class='text-primary'>
              Please open the
              <a href='https://market.axonivy.com' class='ivy__link'>
                Axon Ivy Market
              </a>
              inside your
              <a class='ivy__link' href='https://developer.axonivy.com/download'>
                Axon Ivy Designer
              </a>
              (minimum version 9.2.0)
            </p>"
        data-bs-custom-class="custom-tooltip"
        [ngClass]="themeService.isDarkMode() ? 'btn-light' : 'btn-primary'">
        {{ 'common.product.detail.install.buttonLabel' | translate }}
      </button>
      @if (!isMavenDropins) {
        <button
          id="download-button"
          name="Download button"
          #artifactDownloadButton
          [matomoClickCategory]="MatomoCategory.BUTTON"
          [matomoClickAction]="MatomoAction.CLICK"
          [matomoClickName]="artifactDownloadButton.name + ' - ' + getTrackingEnvironmentBasedOnActionType()"
          [lang]="languageService.selectedLanguage()"
          class="btn btn__download btn-secondary primary-bg flex-grow-1"
          type="button"
          (click)="onShowVersionAndArtifact()"
          aria-expanded="false">
          {{ 'common.product.detail.download.buttonLabel' | translate }}
        </button>
      }

      @if (isDropDownDisplayed()) {
        <div #artifactDownloadDialog id="download-dropdown-menu" class="show maven-artifact-version__action border__dropdown">
          <div class="up-arrow border__dropdown position-absolute"></div>
          <form>
            <div class="form-group">
              <label for="artifacts-selector" [lang]="languageService.selectedLanguage()"
                    class="form-label fs-md text-primary">
                {{
                  'common.product.detail.download.artifactSelector.label' | translate
                }}
              </label>

              <div id="artifacts-selector">
                <app-common-dropdown
                  [items]="artifacts()"
                  [selectedItem]="selectedArtifactName"
                  buttonClass="form-select form-select-sm border__dropdown fs-md"
                  ariaLabel=".form-select-sm"
                  (itemSelected)="onSelectArtifact($event)">
                </app-common-dropdown>
              </div>

            </div>
            <div class="form-group">
              <label for="version-selector" [lang]="languageService.selectedLanguage()"
                    class="form-label mt-2 fs-md text-primary">
                {{
                  'common.product.detail.download.versionSelector.label' | translate
                }}
              </label>

              <div id="version-selector">
                <app-common-dropdown
                  [items]="versionDropdown()"
                  [selectedItem]="selectedVersion()"
                  buttonClass="form-select form-select-sm versions-selector__dropdown border__dropdown fs-md"
                  ariaLabel=".form-select-sm example"
                  (itemSelected)="onSelectVersion($event.value)">
                </app-common-dropdown>
              </div>
            </div>
            <a href="#" [lang]="languageService.selectedLanguage()"
              class="dev-versions__toggle primary-color text-decoration-none" (click)="onShowDevVersion($event)">
              @if (isDevVersionsDisplayed()) {
                {{ 'common.product.detail.download.hideDevVersions' | translate }}
              } @else {
                {{ 'common.product.detail.download.showDevVersions' | translate }}
              }
            </a>
            <div class="py-2">
              <span class="text-muted fs-6">
                <i class="bi bi-info-circle"></i>
                {{ 'common.product.detail.download.appArtifactHint' | translate }}
              </span>
              <div class="form-check fs-md">
                <input id="zip-app-for-engine-checkbox" class="form-check-input" type="checkbox" [(ngModel)]="isCheckedAppForEngine"
                  name="appForEngine">
                <label class="form-check-label" for="zip-app-for-engine-checkbox">
                  {{ 'common.product.detail.download.zipAppArtifactLabel' | translate }}
                </label>
              </div>
            </div>
            <div class="form-group d-flex justify-content-end">
              <button [lang]="languageService.selectedLanguage()" class="btn form-download__btn text-center"
                      [ngClass]="themeService.isDarkMode() ? 'btn-light' : 'btn-primary'" (click)="downloadArtifact()"
                      type="button"
                      id="downloadButton" [style.pointer-events]="isDownloading() ? 'none' : ''">
                      @if (isDownloading()) {
                        <i class="fa fa-spinner fa-spin me-2"></i>
                        {{ 'common.product.detail.download.downloadingButtonLabel' | translate }}
                      }
                      @else {
                        {{ 'common.product.detail.download.buttonLabel' | translate }}
                      }
              </button>
            </div>
          </form>
          <app-loading-spinner
            [key]="LoadingComponentId.PRODUCT_VERSION"
            [containerClasses]="loadingContainerClasses"/>
        </div>
      }
    </div>
  }
  @case (ProductDetailActionType.DESIGNER_ENV) {
    <div class="designer-section d-flex justify-content-sm-between w-100 row m-sm-0">
      <div class="flex-grow-1 col-8">
        <app-common-dropdown (click)="getVersionInDesigner()" [items]="versionDropdownInDesigner"
                [selectedItem]="selectedVersion()"
                buttonClass="form-select form-select-sm versions-selector__dropdown border__dropdown h-100 text-primary install-designer-dropdown fs-md"
                ariaLabel=".form-select-sm example"
                [metaDataJsonUrl]="metaDataJsonUrl()"
                (itemSelected)="onSelectVersionInDesigner($event.value)">
        </app-common-dropdown>
        <a href="#" [lang]="languageService.selectedLanguage()"
                class="dev-versions__toggle primary-color text-decoration-none" (click)="onShowDevVersion($event)">
                @if (isDevVersionsDisplayed()) {
                  {{ 'common.product.detail.download.hideDevVersions' | translate }}
                } @else {
                  {{ 'common.product.detail.download.showDevVersions' | translate }}
                }
        </a>
      </div>
      <button id="install-button"
              name="Install button"
              #installButton
              [matomoClickCategory]="MatomoCategory.BUTTON"
              [matomoClickAction]="MatomoAction.CLICK"
              [matomoClickName]="installButton.name + ' - ' + getTrackingEnvironmentBasedOnActionType()"
              [lang]="languageService.selectedLanguage()"
              class="btn btn__install flex-grow-1 install-designer-button m-0 col-4" id="install-button"
              (click)="onUpdateInstallationCountForDesigner()" onClick="function installInDesigner(event) {
                  const selectedItemElement = document.querySelector('.install-designer-dropdown');
                  if (selectedItemElement) {
                  const metaDataJsonUrl = selectedItemElement.getAttribute('metaDataJsonUrl');
                    try {
                      install(metaDataJsonUrl);
                    } catch (error) {
                      event.stopImmediatePropagation();
                    }
                  }
                }
                installInDesigner(event);" [ngClass]="themeService.isDarkMode() ? 'btn-light' : 'btn-primary'">
        {{ 'common.product.detail.install.buttonLabelInDesigner' | translate }}
      </button>
    </div>
  }
  @case (ProductDetailActionType.CUSTOM_SOLUTION) {
    <button
            id="contact-us-button"
            name="Contact us button"
            #contactUsButton
            [matomoClickCategory]="MatomoCategory.BUTTON"
            [matomoClickAction]="MatomoAction.CLICK"
            [matomoClickName]="contactUsButton.name + ' - ' + getTrackingEnvironmentBasedOnActionType()"
            [lang]="languageService.selectedLanguage()"
            class="btn row btn_contact-us"
            (click)="onNavigateToContactPage()"
            [ngClass]="themeService.isDarkMode() ? 'btn-light' : 'btn-primary'">
      {{ 'common.product.detail.contactUs.label' | translate }}
    </button>
  }
  @default {
  }
}
