::ng-deep .custom-tooltip {
  --bs-tooltip-bg: var(--bs-body-bg);
  --bs-tooltip-color: black;
  --bs-tooltip-font-size: 12px;
  --bs-tooltip-opacity: inherit !important;
  background-color: var(--bs-body-bg);
  min-width: 371px;
  padding: 10px;
  gap: 0px;
  border-radius: 5px;
  justify-content: space-between;
  box-shadow: 0px 4px 30px 0px #0000001a;
  border: 0.5px solid var(--ivy-secondary-border-color);
  top: 1rem !important;

  .tooltip-arrow {
    top: -1rem !important;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    &::before {
      box-sizing: border-box !important;
      width: 0;
      height: 0;
      transform: rotate(45deg);
      border-top-left-radius: 5px !important;
      border: 1rem solid var(--bs-body-bg) !important;
      box-shadow: -0.05em -0.05em 0em var(--ivy-secondary-border-color-up-arrow);
      top: 0.05rem !important;
      left: -0.75rem;
    }
  }

  .tooltip-inner {
    padding: 0px;
    min-width: 351px;
    height: 30px;
    gap: 0px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.01em;
    text-align: left;
    p {
      font-size: 12px;
    }
    .ivy__link {
      color: var(--ivy-link-corlor);
    }
  }
}

::ng-deep .dropdown-item {
  font-size: 14px;
}

::ng-deep .fs-md {
  font-size: 12px;
}

.fs-small {
  font-size: 10px;
}

.form-label {
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
}

::ng-deep .border__dropdown {
  border: 0.5px solid var(--ivy-secondary-border-color);
}

.row > app-common-dropdown {
  padding-left: 0px;
}

.btn,
::ng-deep .install-designer-button {
  padding: 12px 32px;
  gap: 10px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 120%;
  border-radius: 10px;
  border: none;
}

.btn__install {
  border: 0px;
}

.primary-color {
  color: var(--ivy-primary-bg);
}

::ng-deep .item-bar {
  height: 44px;
  padding: 15px;
  gap: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
}

::ng-deep .dropdown-menu.menu-bar {
  margin-top: 0.2rem;
  height: fit-content;
  max-height: 176px;
}

::ng-deep .install-designer-dropdown {
  border-radius: 3px;
  padding: 10px;
  text-align: start;
}

.install-download-button-container {
  position: relative;
}

.btn__download {
  border: 0.5px solid #ebebeb;
}

::ng-deep #download-dropdown-menu {
  position: absolute;
  right: 0;
  width: 400px;
  margin-top: 6.4rem;
  background-color: var(--bs-body-bg);
  z-index: 1000;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);

  @media (max-width: 1399px) {
    width: 100%;
  }

  &.maven-artifact-version__action {
    .form-group {
      gap: 7px;

      .form-select {
        height: 32px;
        padding: 9px 10px;
        gap: 10px;
        border-radius: 5px;
        line-height: 12px;
        text-align: start !important;
        background-color: var(--ivy-text-normal-color);

        option {
          height: 44px;
          padding: 15px;
          gap: 10px;
          font-size: 14px;
          font-weight: 400;
          line-height: 16.8px;
        }
      }

      .indicator-arrow__up {
        --bs-form-select-bg-img: var(--ivy-custom-select-indicator);
      }
    }
  }

  .dev-versions__toggle {
    font-size: 10px;
  }

  .form-download__btn {
    padding: 5px 16px;
    gap: 6px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
  }
}

.up-arrow {
  margin: 0;
  top: -10px;
  width: 20px;
  height: 20px;
  right: 12%;
  z-index: 1001;
  transform: translateX(-50%) rotate(45deg);
  border-right-color: transparent;
  border-bottom-color: transparent;
  background-color: var(--bs-body-bg);

  @media screen and (max-width: 1399px) {
    right: 14%;
  }

  @media screen and (max-width: 1199px) {
    right: 21%;
  }

  @media screen and (max-width: 767px) {
    right: 18%;
  }

  @media screen and (max-width: 575px) {
    right: 15%;
  }
}

.btn_contact-us {
  @media (max-width: 991px) {
    width: 100%;
  }
}
