.error-page-container {
  margin-top: 5rem;

  .error-code {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.68rem;
    letter-spacing: 0.18em;
    color: var(--text-error-code-color);
  }

  .oops {
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 7.92rem;
    color: var(--text-error-oops-color);
  }

  .error-description {
    color: var(--ivy-text-secondary-color);
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.52rem;
  }

  #back-to-home-button {
    min-width: fit-content;
    width: 17.5rem;
    height: 4.3rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    padding: 1.2rem 1.6rem;
    line-height: 1.92rem;

    @media screen and (max-width: 767px) {
      width: 15.7rem;
      height: 4.1rem;
      font-size: 1.4rem;
      line-height: 1.68rem;
    }
  }
}

::ng-deep a {
  color: var(--ivy-primary-bg);
}

.module-gap {
  gap: 3.2rem;

  @media screen and (max-width: 767px) {
    gap: 2.4rem;
  }
}