.error-page-container {
  margin-top: 5rem;
  &.mobile-mode {
    .error-code-404, .oops, .description, .button-container {
      text-align: center;
    }

    .error-description {
      text-align: center;
    }
  }

  .error-code {
    font-size: 14px;
    font-weight: 600;
    line-height: 16.8px;
    letter-spacing: 0.18em;
    text-align: left;
    color: var(--text-error-code-color);
  }

  .oops {
    font-size: 72px;
    font-weight: 600;
    line-height: 79.2px;
    text-align: left;
    color: var(--text-error-oops-color);
  }

  .description {
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
  }

  .flexible-gap,
  .module-gap {
    gap: 1.5rem;
  }

  .button-container {
    margin-bottom: 1.5rem;
  }

  .error-description {
    color: var(--ivy-text-secondary-color);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
  }
}
