<div
  class="error-page-container container-fluid d-flex justify-content-between flex-column flex-lg-row module-gap"
  [ngClass]="isMobileMode() ? 'mobile-mode' : ''">
  <div
    class="d-flex flex-column justify-content-center module-gap col-12 col-lg-4 text-center text-lg-start">
    @if (errorId !== undefined) {
      <div class="error-code">
        {{ 'common.error.code' | translate }}: {{ errorId }}
      </div>
    }
    <div class="oops">{{ 'common.error.oops' | translate }}</div>
    <div class="error-description" [innerHTML]="'common.error.fullMessage' | translate: { errorMessage: (errorMessageKey | translate) }">
    </div>
    <div class="button-container flex-row">
      <button
        id="back-to-home-button"
        (click)="backToHomePage()"
        [lang]="languageService.selectedLanguage()"
        class="btn btn-primary border-0"
        [ngClass]="themeService.isDarkMode() ? 'text-dark' : 'text-light'">
        {{ 'common.error.buttonLabel' | translate }}
      </button>
    </div>
  </div>
  <div class="version-gap d-flex flex-column module-gap col-12 col-lg-7">
    <img
      [src]="themeService.isDarkMode() ? getImageSrcInDarkMode(): getImageSrcInLightMode()"
      alt="404 Not Found" />
  </div>
</div>
