.hint-icon {
  color: var(--ivy-primary-bg);
  cursor: pointer;
}

::ng-deep .help-text a {
  color: var(--ivy-primary-bg);
}

.sort-container {
  margin-top: 9rem;
}

.sort-button {
  padding: 5px 16px;
  gap: 6px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
}

.sort-message {
  border-radius: 0.7rem;
  font-size: 0.9rem;
  line-height: 1.2;
  color: #{white};
}

.sort-message.success {
  background-color: var(--product-feedback-approve-button-color);
}

.sort-message.error {
  background-color: var(--product-feedback-reject-button-color);
}

.table-grid {
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.table-grid.loading {
  opacity: 0.6;
  pointer-events: none;
}