<div class="header-toolbar-container">
  <ul
    class="navbar-nav header__action d-flex flex-row-reverse flex-xl-row justify-content-end border-top-md-gray header__button align-items-lg-center align-items-center">
    <li>
      <div
        class="google-search-container text-primary google-search-svg-primary"
        [ngStyle]="{
          display: isGoogleSearchBarDisplayed() ? 'block' : 'none'
        }">
        <div class="gcse-search"></div>
      </div>
    </li>

    @if (!isGoogleSearchBarDisplayed()) {
      <!-- Language Selection -->
      <li class="header__button--right">
        <app-language-selection></app-language-selection>
      </li>

      <!-- Theme Mode -->
      <li class="header__button--right">
        <app-theme-selection></app-theme-selection>
      </li>

      <!-- Collapse Search -->
      <!-- <li class="d-none d-lg-flex header__button--right">
        @if (isGoogleSearchBarDisplayed()) {
          <div
            class="google-search-container text-primary google-search-svg-primary">
            <div class="gcse-search"></div>
          </div>
        } @else {
          <div class="search-icon d-flex justify-content-end">
            <i
              class="bi bi-search header__search-button"
              (click)="onClickSearchIcon()"></i>
          </div>
        }
      </li> -->
      <!-- <div class="search-icon d-flex justify-content-end">
        <i
          class="bi bi-search header__search-button"
          (click)="onClickSearchIcon()"></i>
      </div> -->
      <li class="search-icon d-flex justify-content-end ms-4">
        <i
          class="bi bi-search header__search-button"
          (click)="onClickSearchIcon()"></i>
      </li>
    }
    <!-- <li class="ms-4 d-none d-xl-block">
      <app-github-user-badge />
    </li> -->
    @if (userInfo()) {
      <li class="ms-4">
        <app-github-user-badge />
      </li>
    }
  </ul>
</div>
