$rowHeight: 37px;
.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 15px;
  cursor: default;
}

.header {
  text-align: center;
  padding: 20px;
  color: var(--ivy-text-primary-color);
  h2 {
    font-size: 4rem;
    margin: 20px 0;
  }
  
  a {
    font-size: 1.5rem;
    color: var(--ivy-link-corlor);
    text-decoration: none;
  }
}

.repo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}

.repo-card {
  background-color: var(--ivy-secondary-bg);
  border: 1px solid var(--ivy-border-color);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    cursor: default;
  }

  a:hover {
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
  }
}

.repo-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 5px;

  p {
    margin: 0;
    font-size: 1.8rem;
    color: #007acc;

    &:hover {
      cursor: pointer;
    }
  }

  .badge {
    font-size: 1.1rem;
    padding: 3px 8px;
    border-radius: 20px;
    border: 1px solid var(--ivy-border-color);
    line-height: 12px;
    color: var(--ivy-text-primary-color);
  }
}

.repo-info {
  margin-top: 15px;
  font-size: 1.5rem;

  p {
    margin: 8px 0;
    font-size: 1.3rem;
    color: var(--ivy-text-primary-color);
    min-height: 28px;
  }

  .passed {
    padding: 5px 10px;
    background-color: #c4f5cc;
    border-radius: 5px;
    color: #383838;
  }

  .failed {
    padding: 5px 10px;
    background-color: #f7bcbc;
    border-radius: 5px;
    color: #383838;
  }

  .icon {
    display: inline-block;
    width: 2rem;
    text-align: center;
    margin-right: 8px;
    font-size: 1.5rem;
  }
}

.sub-status {
  margin: 0.5rem 2.5rem;
}

.reload-link {
  text-decoration: none;
  color: #007bff;
  font-weight: 600;
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.3s ease, transform 0.2s ease;
  text-align: center;

  &:hover {
    text-decoration: underline;
    color: #0056b3;
    transform: scale(1.05);
  }

  &:focus {
    outline: 2px solid #0056b3;
  }
}

.section-title {
  font-size: 2.5rem;
  margin: 30px;
  color: var(--ivy-text-primary-color);
  text-align: center;
  font-weight: bold;
  border-bottom: var(--ivy-border-color) 2px solid;
  padding-bottom: 20px;
}

.loading {
  font-size: 2.5rem;
  text-align: center;
  color: #0056b3;
}