<div class="container">
  <div class="row col-md-12">
    <div class="d-flex align-items-start justify-content-start">
      <h1 [lang]="languageService.selectedLanguage()" class="title">
        {{ 'common.monitor.dashboard.title' | translate }}
      </h1>
      <a class="title" [href]="monitoringWikiLink" target="_blank"><i class="bi bi-info-circle info-icon ps-3"></i></a>
    </div>
    <h3 [lang]="languageService.selectedLanguage()" class="sub-title text-secondary"
      [innerHTML]="translateService.get('common.monitor.dashboard.subtitle') | async">
    </h3>
  </div>

  @if (error) {
  <div class="error">{{ error }}</div>
  }

  <div class="monitor-container d-flex">
    <div class="tab-group d-flex flex-column justify-content-center align-items-start p-0 col-12">
      <div class="row-tab col-12">
        <ul class="nav nav-tabs form-tabs">
          <li
            class="nav-item d-flex flex-row position-relative border-bottom-1 p-2 justify-content-center align-items-start">
            <a id="focused-tab" class="nav-link tab-title border-0 bg-transparent active" role="tab" [ngClass]="{
                  'text-secondary': themeService.isDarkMode(),
                  'text-dark': !themeService.isDarkMode(),
                  active: activeTab() === FOCUSED_TAB
                }" data-bs-toggle="tab" data-bs-target="#focused" (click)="setActiveTab(FOCUSED_TAB)">
              {{ 'common.monitor.dashboard.tabTitle.focused' | translate }}
            </a>
          </li>
          <li
            class="nav-item d-flex flex-row position-relative border-bottom-1 p-2 justify-content-center align-items-start">
            <a id="standard-tab" class="nav-link tab-title border-0 bg-transparent" role="tab" [ngClass]="{
                  'text-secondary': themeService.isDarkMode(),
                  'text-dark': !themeService.isDarkMode(),
                  active: activeTab() === STANDARD_TAB
                }" data-bs-toggle="tab" data-bs-target="#standard" (click)="setActiveTab(STANDARD_TAB)">
              {{ 'common.monitor.dashboard.tabTitle.standard' | translate }}
            </a>
          </li>
        </ul>
      </div>

      <div class="tab-content col-12 default-cursor">
        <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="focused-tab"
             [ngClass]="{ 'show active': activeTab() === FOCUSED_TAB }"></div>
        <div class="tab-pane fade" role="tabpanel" aria-labelledby="standard-tab"
             [ngClass]="{ 'show active': activeTab() === STANDARD_TAB }">
        </div>
        <app-monitor-repo [activeTab]="activeTab()"
                          [initialFilter]="initialFilter()" tabKey="standard" />
      </div>
    </div>
  </div>

  <app-loading-spinner
    containerClasses="d-flex justify-content-center position-fixed align-items-center top-0 end-0 bottom-0 start-0 rounded overlay-background z-1"
    [key]="LoadingComponentId.MONITORING_DASHBOARD" />
</div>
