<div class="container">
  <div class="header">
    <h2 [lang]="languageService.selectedLanguage()">
      {{ 'monitor.dashboard.title' | translate }}
    </h2>
    <h3 [lang]="languageService.selectedLanguage()">
      {{ 'monitor.dashboard.subtitle' | translate }}
    </h3>
  </div>

  @if (!loading && repositories.length) {
  <div class="repo-grid">
    @for (repo of repositories; track repo.name) {
    <div class="repo-card">
      <div class="repo-header">
        <p>{{ repo.name }}</p>
        <span class="visibility">{{ repo.language }}</span>
      </div>

      <div class="repo-info">
        @for (build of repo.testResults; track build.workflow) {
        <div class="badge-row" (click)="onBadgeClick(repo.name, 'ci')">
          <span class="icon">🏷️</span> {{ build.workflow }}:
          <img [src]="build.badgeUrl" alt="{{ build.workflow }} Badge for {{ repo.name }}" style="cursor: pointer;" />
        </div>
        <div class="sub-status">
          {{ 'monitor.dashboard.passed' | translate }}: {{ build.results?.PASSED }}✅/
          {{ 'monitor.dashboard.failed' | translate }}: {{ build.results?.FAILED }}❌/
          {{ 'monitor.dashboard.skipped' | translate }}: {{ build.results?.SKIPPED }}✔️
        </div>
        }
        <p>
          <span class="icon">📅</span>
          {{ 'monitor.dashboard.lastUpdated' | translate }}: {{ repo.lastUpdated | date:'medium' }}
        </p>
      </div>
    </div>
    }

  </div>
  }

  @if (loading) {
  <div class="loading" [lang]="languageService.selectedLanguage()">
    {{ 'monitor.dashboard.loading' | translate }}
  </div>
  }

  @if (error) {
  <div class="error">{{ error }}</div>
  }
</div>