<div class="container">
  <div class="header">
    <h2 [lang]="languageService.selectedLanguage()">
      {{ 'monitor.dashboard.title' | translate }}
    </h2>
    <h3 [lang]="languageService.selectedLanguage()">
      {{ 'monitor.dashboard.subtitle' | translate }}
    </h3>
  </div>
  @if (loading) {
    <div class="loading" [lang]="languageService.selectedLanguage()">
      {{ 'monitor.dashboard.loading' | translate }}
    </div>
  }

  @if (error) {
    <div class="error">{{ error }}</div>
  }

  @if (!loading && repositories.length) {
    <h4 class="section-title">{{ 'monitor.dashboard.focus.title' | translate }}</h4>
    <div class="repo-grid">
      <ng-container *ngFor="let repo of repositories; trackBy: trackByName">
        @if (repo.focused) {
          <ng-container *ngTemplateOutlet="repoCard; context: { $implicit: repo }"></ng-container>
        }
      </ng-container>
    </div>
  }

  @if (!loading && repositories.length) {
    <h4 class="section-title">{{ 'monitor.dashboard.standard.title' | translate }}</h4>
    <div class="repo-grid">
      <ng-container *ngFor="let repo of repositories; trackBy: trackByName">
        @if (!repo.focused) {
          <ng-container *ngTemplateOutlet="repoCard; context: { $implicit: repo }"></ng-container>
        }
      </ng-container>
    </div>
  }

  <ng-template #repoCard let-repo>
    <div class="repo-card">
      <div class="repo-header">
        <p>{{ repo.name }}</p>
        <span class="visibility">{{ repo.language }}</span>
      </div>
      <div class="repo-info">
        @for (build of repo.testResults; track build.workflow) {
        <div class="badge-row" (click)="onBadgeClick(repo.name, 'ci')">
          <span class="icon">{{ build.workflow | workflowIcon }}</span> {{ build.workflow }}:
          <img [src]="build.badgeUrl" alt="{{ build.workflow }} Badge for {{ repo.name }}" style="cursor: pointer;" />
        </div>
          @if(build.results) {
            <div class="sub-status">
              @for (testStatus of build.results | buildStatusEntries; track testStatus.label) {
                <div>
                  {{ testStatus.label | translate }}: {{ testStatus.count }} {{ testStatus.icon }}
                </div>
              }
            </div>
          }
        }
        <p>
          <span class="icon">📅</span>
          {{ 'monitor.dashboard.lastUpdated' | translate }}:
          {{ repo.lastUpdated | date: 'medium' }}
        </p>
      </div>
    </div>
  </ng-template>
</div>