<div class="token-container">
  <div class="header">
    <h2 class="text-primary text-center">
      {{ 'common.admin.pageTitle' | translate }}
    </h2>
    <h3 class="text-primary text-center">
      {{ 'common.admin.description' | translate }}
    </h3>
  </div>
  <div class="token-input-container d-flex flex-column align-items-center">
    <form (ngSubmit)="onSubmit()" class="d-flex flex-column align-items-center justify-content-start">
      <h3 class="text-primary">
        {{ 'common.admin.enterToken' | translate }}
      </h3>
      <input
        id="token-input"
        class="border"
        type="password"
        [formControl]="tokenControl"
        [attr.placeholder]="'common.admin.enterTokenPlaceholder' | translate"
        autocomplete="current-password"
        required />

      <button
        type="submit"
        class="btn-primary mt-3"
        [ngClass]="themeService.isDarkMode() ? 'text-dark' : 'text-light'"
        [disabled]="isButtonDisabled"
        [style.pointer-events]="isProcessing ? 'none' : ''">
        @if (isProcessing) {
          <i class="fa fa-spinner fa-spin me-2"></i>
          {{ 'common.admin.proceedingBtnLabel' | translate }}
        } @else {
          <i class="fa-solid fa-right-to-bracket"></i>
          {{ 'common.admin.proceedBtnLabel' | translate }}
        }
      </button>
      @if (errorMessage) {
        <div class="error-message text-center mt-2">{{ errorMessage }}</div>
      }
    </form>
  </div>
</div>
