<div class="d-flex flex-column p-0">
  <div
    class="d-flex flex-row align-items-center justify-content-between p-0 feedback-header">
    <div
      class="d-flex flex-row align-items-center justify-content-between p-0 h-100 feedback-username">
      <img
        class="rounded-circle img-avatar img-fit-cover"
        [src]="feedback.userAvatarUrl ?? '/assets/images/misc/avatar-default.png'"
        alt="Github user avatar" />
      <div>
        <div class="d-flex flex-row align-items-center p-0 gap-3">
          <p class="text-primary mb-0">
            {{ feedback.username ?? 'Github User' }}
          </p>
          <i class="bi bi-github text-primary icon-feedback"></i>
        </div>
        <p class="feedback-time-text">
          {{ feedback.updatedAt | timeAgo: languageService.selectedLanguage() }}
        </p>
      </div>
    </div>
    <div class="star-rating-container">
      <app-star-rating [isReadOnly]="true" [rate]="feedback.rating"/>
    </div>
  </div>
  <div>
    <p
      #content
      class="collapsed text-primary mb-0 mt-3"
      [class.expanded]="isExpanded()">
      {{ feedback.content }}
    </p>
    <ng-container *ngIf="showToggle()">
      <a class="expand-toggle-link" (click)="toggleContent()">
        {{ isExpanded() ? 'See less' : 'See more' }}
      </a>
    </ng-container>
  </div>
</div>
