<div class="release-letter-edit-container container-fluid">
  <div
    id="back-to-news-management-button"
    [ngClass]="themeService.isDarkMode() ? 'text-light' : 'text-link-blue'"
    [routerLink]="['/internal-dashboard/news-management']">
    &lt;
    <span [lang]="languageService.selectedLanguage()">
      {{ 'common.admin.releaseLetterEdit.backToNewsManagement' | translate }}
    </span>
  </div>
  <div class="row col-md-12">
    <h1
      class="text-primary admin-title"
      [lang]="languageService.selectedLanguage()">
      {{
        isCreateMode
          ? (translateService.get('common.admin.releaseLetterEdit.createTitle')
            | async)
          : (translateService.get('common.admin.releaseLetterEdit.editTitle')
            | async)
      }}
    </h1>
    <div class="introduction-container">
      <div class="d-sm-block admin-about">
        <h3 class="text-secondary">
          {{
            isCreateMode
              ? (translateService.get(
                  'common.admin.releaseLetterEdit.createDescription'
                ) | async)
              : (translateService.get(
                  'common.admin.releaseLetterEdit.editDescription'
                ) | async)
          }}
        </h3>
      </div>
      @if (!isCreateMode) {
        <div
          class="d-sm-block align-items-center admin-help-text-container flex-fill">
          <h4
            [lang]="languageService.selectedLanguage()"
            class="text-secondary help-text">
            {{
              translateService.get('common.admin.releaseLetterEdit.editHelpText')
                | async
            }}
          </h4>
        </div>
      }
    </div>
  </div>
  <div>
    <form (submit)="onSubmit($event)">
      <div>
        <input
          id="release-version-input"
          name="release-version-input"
          autocomplete="on"
          type="text"
          [disabled]="isSubmitting()"
          [lang]="languageService.selectedLanguage()"
          class="form-control input__search bg-secondary border-0 my-4"
          [(ngModel)]="releaseLetter.sprint"
          (ngModelChange)="onReleaseVersionChange()"
          [placeholder]="
            translateService.get(
              'common.admin.releaseLetterEdit.releaseVersionPlaceholder'
            ) | async
          "
          [ariaLabel]="
            translateService.get(
              'common.admin.releaseLetterEdit.releaseVersionPlaceholder'
            ) | async
          "
          aria-describedby="search" />
      </div>
      @if (errorMessage !== null && errorMessage !== '') {
        <p id="release-letter-edit-error-message">{{ errorMessage }}</p>
      }
      <div>
        <app-markdown-editor
          [isSubmittingSignal]="isSubmitting"
          [(contentValue)]="releaseLetter.content"
          [placeholder]="
            translateService.get(
              'common.admin.releaseLetterEdit.contentPlaceholder'
            ) | async
          "
          [autosaveId]="releaseLetter.sprint"></app-markdown-editor>

        <button
          id="submit-button"
          [disabled]="isSubmitting()"
          type="submit"
          [lang]="languageService.selectedLanguage()"
          class="mt-4 btn border-0 submit-button text-center d-flex align-items-center justify-content-center"
          [ngClass]="themeService.isDarkMode() ? 'btn-light' : 'btn-primary'">
          @if (isSubmitting()) {
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          }
          <span>Submit</span>
        </button>
      </div>
    </form>
  </div>
</div>
