.input-group-text {
  border-radius: 1rem;
  padding: 0 1.5rem;
}

th h5 {
  font-weight: 600;
  line-height: 140%;
  vertical-align: middle;
}

td {
  height: 5rem;
  vertical-align: middle;
}

.form-control {
  border-radius: 1rem;
}

#create-button {
  padding: 0.5rem 1.6rem;
  gap: 0.6rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.68rem;
}

#release-letter-container {
  margin-top: 9rem;
}

#release-letter-table {
  tbody,
  button {
    font-size: 1.4rem;
  }

  td:last-child {
    button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      width: 3rem;
      height: 3rem;
      padding: 0;
    }
  }
}

#delete-button {
  background-color: red;

  &:hover {
    background-color: #ff6868;
  }
}

::ng-deep .custom-tooltip-class .tooltip-inner {
  font-size: 1.4rem;
}