.input-group-text {
  border-radius: 10px;
  padding: 0 15px;
}

th h5 {
  font-weight: 600;
  line-height: 140%;
  vertical-align: middle;
}

td {
  height: 5rem;
  vertical-align: middle;
}

.form-control {
  border-radius: 10px;
}

#release-letter-table {
  margin-top: 9rem;

  tbody,
  button {
    font-size: 1.2rem;
  }
}
