.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 15px;
  cursor: default;
  color: var(--ivy-text-primary-color);
}

.header {
  text-align: center;
  padding: 20px 0;

  h2 {
    font-size: 4rem;
  }
}

.repo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}

.repo-card {
  background-color: var(--ivy-secondary-bg);
  border: 1px solid var(--ivy-border-color);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.repo-card:hover {
  background-color: var(--ivy-secondary-bg);
  border-color: var(--ivy-border-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  cursor: default;
}

.repo-card a:hover {
  color: #0056b3;
  text-decoration: underline;
  cursor: pointer;
}

.repo-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 5px;

  h3 {
    margin: 0;
    font-size: 1.6rem;
    color: #007acc;
    color: var(--ivy-text-primary-color);
  }

  h3:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .visibility {
    font-size: 1.1rem;
    padding: 3px 8px;
    border-radius: 20px;
    border: 1px solid gray;
    line-height: 12px;
  }

  .archived {
    font-size: 1.1rem;
    padding: 3px 8px;
    border-radius: 20px;
    border: 1px solid orange;
    line-height: 12px;
    color: orange;
  }
}

.repo-info {
  margin-top: 15px;

  p {
    margin: 8px 0;
    font-size: 1.5rem;
    color: var(--ivy-text-primary-color);
    min-height: 28px;
  }

  span {
    font-weight: bold;
  }
}

.badge {
  display: inline-block;
  padding: 7px 10px;
  font-size: 1.3rem;
  border-radius: 5px;
  color: var(--ivy-text-primary-color);
  border: 1px solid var(--ivy-border-color);
  margin-left: 5px;

  &.critical {
    background-color: #e63946;
  }

  &.high {
    background-color: #f4a261;
  }

  &.medium, &.warning {
    background-color: #f4d35e;
    color: #333;
  }

  &.low, &.note {
    background-color: #90be6d;
  }

  &.error {
    background-color: #d00000;
  }

  &.none, &.no-permission {
    background-color: #ccc;
    color: #666;
  }

  &.active {
    background-color: #2a9d8f;
  }
}

/* Styling for inactive or zero values */
.inactive {
  color: var(--ivy-text-primary-color);
  font-style: italic;
}

.token-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--ivy-text-primary-color);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.token-input-container h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--ivy-text-primary-color);
}

.token-input-container span {
  margin-bottom: 20px;
  font-size: 1rem;
  color: #777;
}

.token-input-container input {
  padding: 10px;
  font-size: 1.3rem;
  margin-bottom: 10px;
  width: 350px;
  border: 1px solid var(--ivy-border-color);
  border-radius: 4px;
}

.token-input-container button {
  padding: 10px 20px;
  font-size: 1.3rem;
  color: var(--ivy-text-primary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  width: 100px;
}

.error-message {
  color: #f44336;
  font-size: 1.2rem;
  width: 100%;
}

.reload-link {
  text-decoration: none;
  color: #007bff;
  font-weight: 600;
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.3s ease, transform 0.2s ease;
}

.reload-link:hover {
  text-decoration: underline;
  color: #0056b3;
  transform: scale(1.05);
}

.reload-link:focus {
  outline: 2px solid #0056b3;
}

.repo-info .icon {
  display: inline-block;
  width: 2rem;
  text-align: center;
  margin-right: 8px;
  font-size: 1.5rem;
}

.reload-link.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}
