<div class="row col-md-12">
  <h1
    class="text-primary admin-title"
    [lang]="languageService.selectedLanguage()">
    {{ translateService.get('common.admin.securityMonitor.title') | async }}
  </h1>
  <div class="introduction-container">
    <div class="d-sm-block admin-about">
      <h3 class="text-secondary">
        {{
          translateService.get('common.admin.securityMonitor.description')
            | async
        }}
      </h3>
    </div>
    <div
      class="d-sm-block align-items-center admin-help-text-container flex-fill">
      <h4
        [lang]="languageService.selectedLanguage()"
        class="text-secondary"
        [innerHTML]="
          translateService.get('common.admin.securityMonitor.helpText') | async
        "></h4>
    </div>
  </div>
</div>

<div class="feature-bar">
  <!-- Search Bar -->
  <div class="input-group m-0">
    <div class="input-group-text text-primary bg-secondary border-0">
      <i class="ti ti-search search-icon"></i>
    </div>
    <input
      type="text"
      autocomplete="on"
      class="form-control input__search bg-secondary border-0 rounded-start-0 ps-0 search-input"
      [placeholder]="'common.search.placeholder' | translate"
      [(ngModel)]="searchText"
      (ngModelChange)="onSearchChanged($event)"/>
    @if (searchText) {
      <div class="input-group-text text-primary bg-secondary border-0 clear-search-btn" (click)="onClearSearch()">
        <i class="ti ti-x clear-icon"></i>
      </div>
    }
  </div>
</div>

<div class="security-monitor-wrapper position-relative">
  <app-loading-spinner
    containerClasses="d-flex justify-content-center position-absolute align-items-center w-100 h-100 fixed-top rounded"
    [key]="LoadingComponentId.SECURITY_MONITOR"/>
  <table class="table">
    <thead>
    <tr>
      <th class="text-primary connector-column" (click)="sortByColumn(COLUMN_REPO_NAME)">
        <h5 class="table-header sortable">
          <i class="ti" [ngClass]="getSortIcon(COLUMN_REPO_NAME)"></i>
          {{ 'common.admin.securityMonitor.repoName' | translate }}
        </h5>
      </th>
      <th class="text-primary security-column" (click)="sortByColumn(COLUMN_DEPENDABOT)">
        <h5 class="table-header sortable">
          <i class="ti" [ngClass]="getSortIcon(COLUMN_DEPENDABOT)"></i>
          <i class="ti ti-robot"></i>
          {{ 'common.admin.securityMonitor.dependabot' | translate }}
        </h5>
      </th>
      <th class="text-primary security-column" (click)="sortByColumn(COLUMN_CODE_SCANNING)">
        <h5 class="table-header sortable">
          <i class="ti" [ngClass]="getSortIcon(COLUMN_CODE_SCANNING)"></i>
          <i class="ti ti-device-laptop"></i>
          {{ 'common.admin.securityMonitor.codeScanning' | translate }}
        </h5>
      </th>
      <th class="text-primary security-column" (click)="sortByColumn(COLUMN_SECRET_SCANNING)">
        <h5 class="table-header sortable">
          <i class="ti" [ngClass]="getSortIcon(COLUMN_SECRET_SCANNING)"></i>
          <i class="ti ti-key"></i>
          {{ 'common.admin.securityMonitor.secretScanning' | translate }}
        </h5>
      </th>
      <th class="text-primary protection-column" (click)="sortByColumn(COLUMN_BRANCH_PROTECTION)">
        <h5 class="table-header sortable">
          <i class="ti" [ngClass]="getSortIcon(COLUMN_BRANCH_PROTECTION)"></i>
          <i class="ti ti-wall"></i>
          {{ 'common.admin.securityMonitor.branchProtection' | translate }}
        </h5>
      </th>
      <th class="text-primary commit-column" (click)="sortByColumn(COLUMN_COMMIT_DATE)">
        <h5 class="table-header sortable">
          <i class="ti" [ngClass]="getSortIcon(COLUMN_COMMIT_DATE)"></i>
          <i class="ti ti-stopwatch"></i>
          {{ 'common.admin.securityMonitor.lastCommit' | translate }}
        </h5>
      </th>
    </tr>
    </thead>
    @if (repos.length > 0) {
      <tbody>
        @for (repo of repos; track $index) {
          <tr>
            <!-- Repo Name -->
            <td class="align-middle">
              <div class="repo-name-cell">
                <a class="name" (click)="navigateToRepoPage(repo.repoName, 'security')">
                  {{ repo.repoName }}
                </a>
                <span class="visibility text-capitalize">{{ repo.visibility }}</span>
                @if (repo.archived) {
                  <span class="archived">
                    {{ 'common.admin.securityMonitor.archived' | translate }}
                  </span>
                }
              </div>
            </td>
            <!-- Dependabot -->
            <td class="align-middle">
              <a class="cell-link" (click)="navigateToRepoPage(repo.repoName, 'dependabot')">
                @if (repo.dependabot.status == 'DISABLED') {
                  <span class="badge none">
                    {{ 'common.admin.securityMonitor.disabled' | translate }}
                  </span>
                } @else if (repo.dependabot.status == 'NO_PERMISSION') {
                  <span class="badge no-permission">
                    {{ 'common.admin.securityMonitor.noPermission' | translate }}
                  </span>
                } @else if (hasAlerts(repo.dependabot.alerts)) {
                  @for (alert of alertKeys(repo.dependabot.alerts); track $index) {
                    <span [ngClass]="['badge', alert]">
                      {{ repo.dependabot.alerts[alert] }} {{ alert }}
                    </span>
                  }
                } @else {
                  <span class="badge active">
                    {{ 'common.admin.securityMonitor.noVulnerabilities' | translate }}
                  </span>
                }
              </a>
            </td>
            <!-- Code Scanning -->
            <td class="align-middle">
              <a class="cell-link" (click)="navigateToRepoPage(repo.repoName, 'codeScanning')">
                @if (repo.codeScanning.status == 'DISABLED') {
                  <span class="badge none">
                    {{ 'common.admin.securityMonitor.disabled' | translate }}
                  </span>
                } @else if (repo.codeScanning.status == 'NO_PERMISSION') {
                  <span class="badge no-permission">
                    {{ 'common.admin.securityMonitor.noPermission' | translate }}
                  </span>
                } @else if (hasAlerts(repo.codeScanning.alerts)) {
                  @for (alert of alertKeys(repo.codeScanning.alerts); track $index) {
                    <span [ngClass]="['badge', alert]">
                      {{ repo.codeScanning.alerts[alert] }} {{ alert }}
                    </span>
                  }
                } @else {
                  <span class="badge active">
                    {{ 'common.admin.securityMonitor.noVulnerabilities' | translate }}
                  </span>
                }
              </a>
            </td>
            <!-- Secret Scanning -->
            <td class="align-middle">
              <a class="cell-link" (click)="navigateToRepoPage(repo.repoName, 'secretScanning')">
                @if (repo.secretScanning.status == 'DISABLED') {
                  <span class="badge none">
                    {{ 'common.admin.securityMonitor.disabled' | translate }}
                  </span>
                } @else if (repo.secretScanning.status == 'NO_PERMISSION') {
                  <span class="badge no-permission">
                    {{ 'common.admin.securityMonitor.noPermission' | translate }}
                  </span>
                } @else if (repo.secretScanning.numberOfSecretScanningAlerts) {
                  <span class="badge critical">
                    {{ repo.secretScanning.numberOfSecretScanningAlerts }} alerts
                  </span>
                } @else {
                  <span class="badge active">
                    {{ 'common.admin.securityMonitor.noVulnerabilities' | translate }}
                  </span>
                }
              </a>
            </td>
            <!-- Branch Protection -->
            <td class="align-middle">
              <a class="cell-link" (click)="navigateToRepoPage(repo.repoName, 'branches')">
                @if (repo.branchProtectionEnabled) {
                  <span class="badge active">
                    {{ 'common.admin.securityMonitor.enabled' | translate }}
                  </span>
                } @else {
                  <span class="badge none">
                    {{ 'common.admin.securityMonitor.disabled' | translate }}
                  </span>
                }
              </a>
            </td>
            <!-- Last Commit -->
            <td class="align-middle">
              <a
                class="cell-link commit-date"
                (click)="navigateToRepoPage(repo.repoName, 'lastCommit', repo.latestCommitSHA)">
                {{ formatCommitDate(repo.lastCommitDate) }}
              </a>
            </td>
          </tr>
        }
      </tbody>
    } @else {
      <tbody>
      <tr>
        <td colspan="6" class="border-0">
          <p class="text-primary m-0 text-center no-repositories" [lang]="languageService.selectedLanguage()">
            {{ 'common.admin.securityMonitor.noRepositories' | translate }}
          </p>
        </td>
      </tr>
      </tbody>
    }
  </table>

  <!-- Pagination -->
  @if (totalElements > 0) {
    <div class="d-flex justify-content-between py-2">
      <ngb-pagination [collectionSize]="totalElements" [(page)]="page" [pageSize]="pageSize"
                      (pageChange)="onPageChange($event)">
      </ngb-pagination>
      <select class="form-select pagination" [ngModel]="pageSize" (ngModelChange)="onPageSizeChanged($event)">
        <option [ngValue]="10">{{ 'common.monitor.pagination.tenItems' | translate }}</option>
        <option [ngValue]="20">{{ 'common.monitor.pagination.twentyItems' | translate }}</option>
        <option [ngValue]="ALL_ITEMS_PAGE_SIZE">{{ 'common.monitor.pagination.all' | translate }}</option>
      </select>
    </div>
  }
</div>


