// Required
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

@font-face {
  font-family: Inter;
  src: url(../fonts/inter.ttf) format('truetype');
}

$ivyLatestReleaseBorderColor: #238636;
$ivyLatestReleaseColor: #3fb950;

// Light
$ivyPrimaryColorLight: #007095;
$ivyPrimaryColorHoverLight: #00445c;
$ivySecondaryColorLight: #f8f8f8;
$ivySecondaryButtonHoverLight: #ebebeb;
$ivyPrimaryTextColorLight: #1b1b1b;
$ivySecondaryTextLight: #4a4a4a;
$ivyNormalTextColorLight: #fafafa;

// Dark
$ivyPrimaryColorDark: 44, 44, 44;
$ivySecondaryColorDarkRGB: 56, 56, 56;
$ivyBodyBackgroundDark: #2c2c2c;
$ivySecondaryColorDark: #383838;
$ivySecondaryHoverDark: #202020;
$ivyPrimaryButtonHoverDark: #ececec;
$ivySecondaryTextDark: #a3a3a3;

h1 {
  font-weight: 600;
  font-size: 72px;
}

h2 {
  font-weight: 600;
  font-size: 64px;
}

h3 {
  font-weight: 600;
  font-size: 22px;
}

h4 {
  font-weight: 400;
  font-size: 18px;
}

h5 {
  font-weight: 400;
  font-size: 16px;
}

p {
  font-weight: 400;
  font-size: 14px;
}

.overlay-background {
  background: rgba(0, 0, 0, 0.32);
}

[data-bs-theme='light'] {
  --ivy-primary-bg: #{$ivyPrimaryColorLight};
  --ivy-secondary-bg: #{$ivySecondaryColorLight};
  --ivy-active-color: #{$ivyPrimaryColorLight};
  --ivy-link-corlor: #{$ivyPrimaryColorLight};
  --ivy-text-normal-color: #{$ivyNormalTextColorLight};
  --ivy-text-primary-color: #{$ivyPrimaryTextColorLight};
  --ivy-text-secondary-color: #{$ivySecondaryTextLight};
  --ivy-border-color: #{$ivySecondaryButtonHoverLight};
  --ivy-textarea-background-color: #FAFAFA;
  --header-border-color: #ebebeb;
  --footer-border-color: #e7e7e7;
  --ivy-secondary-border-color: #e7e7e7;
  --ivy-secondary-border-color-up-arrow: #0000001a;
  --ivy-custom-select-indicator: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 11 8 5 14 11'/%3e%3c/svg%3e") !important;
  --active-tab-indicator-color: #{$ivyPrimaryTextColorLight};
  --info-dropdown-bg: #ffffff;
  --info-dropdown-border: #0000001a;

  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 11 8 5 14 11'/%3e%3c/svg%3e") !important;
  --star-color: #b0b0b0;
  --star-filled-color: #{$ivyPrimaryTextColorLight};
  --text-no-rating-color: #757575;
  --text-feedback-time-color: #757575;
  --text-error-code-color: #757575;
  --text-error-oops-color: #{$ivyPrimaryTextColorLight};
  --product-feedback-container-bg-color: #{$ivySecondaryColorLight};
  --product-feedback-container-border-color: #{var(--header-border-color)};


  --product-latest-release: #{$ivyLatestReleaseColor};
  --product-latest-release-border: #{$ivyLatestReleaseBorderColor};

  .bg-primary {
    background-color: #{$ivyPrimaryColorLight} !important;
  }

  .bg-secondary {
    background-color: #{$ivySecondaryColorLight} !important;
  }

  .card {
    background-color: #{$ivySecondaryColorLight};
    border: 1px solid #{$ivySecondaryTextLight};
  }

  .btn {
    border-radius: 0.5rem;
  }

  .btn-primary {
    background-color: #{$ivyPrimaryColorLight};
    color: #{$ivyNormalTextColorLight} !important;
  }

  .btn-primary:hover {
    background-color: #{$ivyPrimaryColorHoverLight};
  }

  .btn-secondary {
    background-color: #{$ivySecondaryColorLight};
    color: #{$ivyPrimaryTextColorLight};
  }

  .btn-secondary:hover {
    background-color: #{$ivySecondaryButtonHoverLight};
  }

  .text-primary {
    color: #{$ivyPrimaryTextColorLight} !important;
  }

  .text-secondary {
    color: #{$ivySecondaryTextLight} !important;
  }

  .text-dark {
    color: #{$ivyPrimaryTextColorLight} !important;
  }

  .text-link-blue {
    color: #{$ivyPrimaryColorLight} !important;
  }

  .border-dark {
    border-color: #{$ivyPrimaryTextColorLight};
  }

  .border-primary {
    border-color: #{$ivyPrimaryTextColorLight} !important;
  }

  /** Star Rating Summary **/

  .star-rating-counting-line {
    background-color: #{$ivySecondaryColorLight} !important;

    .star-rating-percent {
      background-color: #{$ivyPrimaryColorLight} !important;
    }
  }

  /** End Star Rating Summary **/
}

.spinner-border {
  width: 100px;
  height: 100px;
}

[data-bs-theme='dark'] {
  --bs-body-bg: #{$ivyBodyBackgroundDark};
  --bs-primary-rgb: #{$ivyPrimaryColorDark};
  --bs-secondary-rgb: #{$ivySecondaryColorDarkRGB};
  --bs-tertiary-bg: #{$ivySecondaryColorDarkRGB};
  --ivy-link-corlor: #{$ivyPrimaryColorLight};
  --ivy-primary-bg: #{$ivyNormalTextColorLight};
  --ivy-secondary-bg: #{$ivySecondaryColorDark};
  --ivy-active-color: #{$white};

  --ivy-text-normal-color: #{$ivyBodyBackgroundDark};
  --ivy-text-secondary-color: #{$ivySecondaryTextDark};

  --ivy-border-color: #{$ivySecondaryTextLight};
  --ivy-textarea-background-color: #333333;
  --header-border-color: #{$ivySecondaryTextLight};
  --footer-border-color: #4f4e4e;
  --ivy-secondary-border-color: #4f4e4e;
  --ivy-secondary-border-color-up-arrow: #4f4e4e;
  --ivy-custom-select-indicator: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 11 8 5 14 11'/%3e%3c/svg%3e") !important;
  --active-tab-indicator-color: #{$white};
  --info-dropdown-bg: #{$ivyBodyBackgroundDark};
  --info-dropdown-border: #000000b2;
  --star-color: #757575;
  --star-filled-color: #{$white};
  --text-no-rating-color: #A3A3A3;
  --text-feedback-time-color: #A3A3A3;
  --text-error-code-color: #A3A3A3;
  --text-error-oops-color: #ffffff;
  --product-feedback-container-bg-color: #{$ivySecondaryColorDark};
  --product-feedback-container-border-color: #{$ivySecondaryTextLight};

  --product-latest-release: #{$ivyLatestReleaseColor};
  --product-latest-release-border: #{$ivyLatestReleaseBorderColor};

  a {
    color: #{$white};
  }

  .bg-light {
    background-color: #{$ivyNormalTextColorLight} !important;
  }

  .bg-dark {
    color: var(--bs-body-bg);
  }

  .bg-white {
    color: #{$white} !important;
  }

  .btn {
    border-radius: 0.5rem;
  }

  .btn-primary {
    background-color: #{$ivyNormalTextColorLight};
    color: #{$ivyBodyBackgroundDark} !important;
  }

  .btn-primary:hover {
    background-color: #{$ivyPrimaryButtonHoverDark};
  }

  .btn-secondary {
    background-color: #{$ivySecondaryColorDark};
    border: 0.5px solid #{$ivySecondaryTextLight} !important;
  }

  .btn-secondary:hover {
    background-color: #{$ivySecondaryHoverDark};
  }

  .text-primary {
    color: #{$white} !important;
  }

  .text-secondary {
    color: #{$ivySecondaryTextDark} !important;
  }

  .text-dark {
    color: #{$ivyBodyBackgroundDark} !important;
  }

  .border-primary {
    border-color: #{$white} !important;
  }

  .border-light {
    border-color: #{$white} !important;
  }

  /** Star Rating Summary **/

  .star-rating-counting-line {
    background-color: #383838 !important;

    .star-rating-percent {
      background-color: #FAFAFA !important;
    }
  }

  /** End Star Rating Summary **/
}

.default-cursor {
  cursor: default;
}

.pointer-cursor {
  cursor: pointer;
}

.card {
  padding: 20px;
  margin: 0 32px 8px 0;
  gap: 20px;
  border-radius: 15px;
}

.text-light {
  color: #{$white} !important;
}

.text-muted {
  color: #858585 !important;
}

@media (max-width: 568px) {
  code {
    font-size: 0.7rem;
  }
}

@media (max-width: 424px) {
  code {
    font-size: 0.57rem;
  }
}

@media (min-width: 1440px) {
  .container {
    min-width: 1120px;
  }

  .col-xxl-3 {
    flex: 0 0 auto;
    width: 33.33333333% !important;
  }
}

@media (min-width: 1920px) {
  .container {
    min-width: 1505px;
  }

  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25% !important;
  }
}

@media (min-width: 2560px) {
  .container {
    min-width: 1505px;
  }
}

@media (min-width: 3840px) {
  .container {
    min-width: 2160px;
  }
}
