<div class="row col-md-12">
  <h1
    class="text-primary admin-title"
    [lang]="languageService.selectedLanguage()">
    {{ translateService.get('common.admin.news.title') | async }}
  </h1>
  <div class="introduction-container">
    <div class="d-sm-block admin-about">
      <h3 class="text-secondary">
        {{ translateService.get('common.admin.news.description') | async }}
      </h3>
    </div>
    <div
      class="d-sm-block align-items-center admin-help-text-container flex-fill">
      <h4
        [lang]="languageService.selectedLanguage()"
        class="text-secondary help-text"
        [innerHTML]="
          translateService.get('common.admin.news.helpText') | async
        "></h4>
    </div>
  </div>
</div>
<section class="active-release-letter-container mt-5">
  <h1>
    {{ activeReleaseLetterSprintTitle }}
  </h1>
  <div
    class="active-release-letter-content mt-5"
    [innerHTML]="activeReleaseLetterContent"></div>
</section>
