@use 'sass:math';

// Variables for commonly used values
$aspect-ratio: math.div(1, 1);

th {
  height: 4.5rem;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  vertical-align: middle;
}

td {
  height: 5rem;
  vertical-align: middle;
}

.username-column {
  width: 180px;
}

.rating-column {
  width: 82px;
}

.status-column {
  width: 98px;
}

.created-date-column {
  width: 140px;
}

.updated-date-column {
  width: 142px;
}

.moderator-column {
  width: 118px;
}

.content-column {
  white-space: normal;
  word-break: break-word;
}

.fixed-width {
  width: 160px;
  min-width: 160px;
  white-space: nowrap;
}

#approve-button,
#reject-button {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  color: #{white};
  cursor: pointer;
}

#approve-button {
  background-color: var(--product-feedback-approve-button-color);
  margin-right: 1.1rem;
  vertical-align: middle;
}

#approve-button::ng-deep,
#reject-button::ng-deep {
  vertical-align: middle;
}

#approve-button:hover,
#reject-button:hover {
  opacity: 0.8;
}

#reject-button {
  background-color: var(--product-feedback-reject-button-color);
}

.rounded-circle {
  border-radius: 50%;
}

.img-fit-cover {
  object-fit: cover;
  aspect-ratio: $aspect-ratio;
}

.img-avatar {
  width: 2.8rem;
  height: 2.8rem;
}

.feedback-username {
  font-weight: 400;
  font-size: 1.4rem;
  margin-left: 0.8rem;
}
