#user-avatar {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.user-info-dropdown {
  font-size: 1.6rem;

  button {
    padding: 0.7rem 1rem;
  }

  a {
    text-decoration: none;
  }

  .dropdown-item {
    &:active {
      background: none !important;
    }
  }
}
