@if (userInfo()) {
  <div class="col user-badge-container">
    <div ngbDropdown class="d-inline-block">
      <img
        type="button"
        ngbDropdownToggle
        id="user-avatar"
        [src]="userInfo()!.avatarUrl"
        alt="User avatar"
        />
      <div
        ngbDropdownMenu
        aria-labelledby="user-info-dropdown"
        class="user-info-dropdown mt-2">
        <button ngbDropdownItem>
          <a
            class="text-primary"
            [href]="this.userInfo()!.url"
            target="_blank">
            {{
              translateService.get('common.admin.gitHubUserBadge.gitHubAccount')
                | async
            }}
          </a>
        </button>
        <button ngbDropdownItem (click)="logout()">
          {{
            translateService.get('common.admin.gitHubUserBadge.logout') | async
          }}
        </button>
      </div>
    </div>
  </div>
}
