@if (visible) {
    <div class="modal-backdrop show"></div>
  <div class="modal-dialog">
      <div class="modal-content">
    
        <div class="modal-header justify-content-between">
          <h5 class="modal-title">
            {{ 'common.admin.sync.syncOneProductDialog.title' | translate }}
          </h5>
          <button
            type="button"
            class="btn-close ms-auto"
            (click)="onCancel()"></button>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label" for="sync-extension-id">
              {{ 'common.admin.extensionId' | translate }}
            </label>

            <div class="dropdown position-relative w-100">
              <input
                type="text"
                class="sync-extension-id form-control dropdown-toggle"
                [(ngModel)]="productSearch"
                (focus)="openDropdown()"
                (input)="filterProducts()"
                autocomplete="off" />

              @if (dropdownOpen) {
                <ul class="dropdown-menu show w-100">
                  @if (isZipArtifacts()) {
                    <li
                      class="dropdown-item fw-bold"
                      (click)="selectAllProducts()">
                      {{ 'common.admin.sync.allProducts' | translate }}
                    </li>
                  }
                  @for (product of filteredProducts(); track product.id) {
                    <li
                      class="dropdown-item"
                      (click)="selectProduct(product)">
                      {{ product.id }}
                    </li>
                  }
                </ul>
              }
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="sync-market-path">
              {{ 'common.admin.sync.syncOneProductDialog.marketItemPath' | translate }}
            </label>

            <input
              id="sync-market-path"
              class="form-control"
              [(ngModel)]="marketDirectory"
              [disabled]="!isMarketPathEnabled()" />

            <small class="text-muted">
              {{ 'common.admin.sync.syncOneProductDialog.chooseMarketItemPathHint' | translate }}
            </small>
          </div>

          @if (getTaskConfig().requireProduct) {
            <div class="form-check mb-2">
              <input
                id="overridePath"
                type="checkbox"
                class="form-check-input"
                [(ngModel)]="overrideMarketItemPath" />
              <label for="overridePath" class="form-check-label">
                {{ 'common.admin.sync.syncOneProductDialog.overrideMarketItemPath' | translate }}
              </label>
            </div>
          }
        </div>

        <div class="modal-footer">
          <button
            class="btn btn-cancel btn-secondary me-2"
            (click)="onCancel()">
            {{ 'common.admin.sync.cancelLabel' | translate }}
          </button>

          <button
            class="btn border-0 btn-primary"
            (click)="onConfirm()"
            [disabled]="!isValid()">
            {{ 'common.admin.sync.syncLabel' | translate }}
          </button>
        </div>

      </div>
    </div>
}