ul {
  list-style: none;
  display: flex;
}

ul li {
  width: fit-content;
}

.nav-item {
  padding: 0 4px;
}

.nav-link {
  height: 22px;
  line-height: 22.4px;
  font-weight: normal;
  font-size: 1.6rem;
  border-radius: 0 !important;
}

.nav-link.header-offcanvas-nav-link {
  font-size: 1.8rem;
}

.nav-link.active {
  font-weight: 600;
  border-bottom: 0.2rem solid var(--ivy-active-color);
}

.nav-link.header-offcanvas-active {
  font-weight: 600;
  width: 100%;
  border-radius: 0.5rem !important;
}

.header-mobile__search {
  height: 43px;
  border-radius: 10px;
}

.header-mobile__search input {
  font-size: 1.4rem;
}

@media all and (max-width: 992px) {
  .show,
  .min-height-100 {
    min-height: 85lvh;
  }

  .form-control {
    height: 43px;
  }

  .navbar {
    border: none;
  }
}

@media screen and (max-width: 991px) {
  ul li {
    padding: 0 0 1rem 0;
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  ul {
    height: 100%;
  }

  ul li {
    height: 100%;
  }
}
