<div class="header__navigation">
  <!-- Mobile Search Input -->
  <div class="google-search-container text-primary google-search-svg-primary"
    [ngStyle]="{'display' : isMobileMode() ? 'block' : 'none'}">
    <div class="gcse-search"></div>
  </div>

  <!-- Navigation -->
  <ul class="navbar-nav">
    @for (item of navItems; track item.label) {
      @let isHomePage = item.link === '/';
      <li class="nav-item">
        @if (isHomePage) {
          <a [lang]="languageService.selectedLanguage()" class="nav-link text-primary active"
            aria-current="page"
            [routerLink]="item.link" >
            {{ item.label | translate }}
          </a>
        } @else {
          <a [lang]="languageService.selectedLanguage()" class="nav-link" [ngClass]="{
            'text-primary': isMobileMode(),
            'text-secondary': !isMobileMode(),
            active: isHomePage }" aria-current="page"
            [href]="item.link" >
          {{ item.label | translate }}
          </a>
        }
        <div class="active-line d-none" [ngClass]="{ 'd-lg-block': item.link === '/' }"></div>
      </li>
    }
  </ul>
</div>