<div
  class="google-search-container text-primary google-search-svg-primary d-block d-lg-none">
  <div class="gcse-search"></div>
</div>

<!-- Navigation -->
<ul class="p-0 d-flex flex-column flex-lg-row m-0">
  @for (item of this.items; track item.label) {
    <li
      class="px-0 px-lg-2 d-lg-flex justify-content-lg-center align-items-lg-center"
      (click)="closeHeaderOffcanvas()">
      @let isHomePage = item.link === '/';
      @let isSyncPage = item.link === '/internal-dashboard';
      @let isInternal = item.link.startsWith('/');
      @if (isInternal) {
        <a
          #routerActive="routerLinkActive"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: isHomePage || isSyncPage }"
          [lang]="languageService.selectedLanguage()"
          class="nav-link h-100 px-0 py-0 d-lg-flex justify-content-lg-center align-items-lg-center text-secondary"
          [ngClass]="{
            'text-primary': routerActive.isActive,
            'text-secondary': !routerActive.isActive,
            'active': routerActive.isActive
          }"
          aria-current="page"
          [routerLink]="item.link">
          {{ item.label | translate }}
        </a>
      } @else {
        <a
          [lang]="languageService.selectedLanguage()"
          class="nav-link h-100 px-0 py-0 d-lg-flex justify-content-lg-center align-items-lg-center text-secondary"
          aria-current="page"
          [href]="item.link">
          {{ item.label | translate }}
        </a>
      }
    </li>
  }
</ul>
