$rowHeight: 37px;

.input-group-text {
  border-radius: 10px;
  padding: 0 15px;
}

.input-group {
  margin-top: 3rem;
  margin-bottom: 7.2rem;

  @media screen and (max-width: 991px) {
    margin-bottom: 3.2rem;
  }
}

.form-control {
  border-radius: 10px;
}

.filter-container {
  height: $rowHeight;
}

.filter-container__button {
  height: $rowHeight;
}

.sort-container {
  height: $rowHeight;
  font-weight: 400;
  font-size: 14px;
}

.filter-type {
  height: $rowHeight;
  width: max-content;
  line-height: 16.8px;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 0 15px 0 0;
  gap: 10px;
  cursor: pointer;
}

.sort-container__label {
  line-height: 25.2px;
}

.sort-order {
  width: 60% !important;
}

::ng-deep .form-select {
  height: $rowHeight;
  line-height: 16.8px;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  border-radius: 10px;
  padding: 1px 1px 1px 10px;
  gap: 10px;
  opacity: 80%;
}

::ng-deep .dropdown-menu {
  min-width: 100%;
  margin-top: 10px;
  padding: 0;
  font-size: 1.4rem;
}

::ng-deep .dropdown-item {
  gap: 10px;
  padding: 13.5px 15px;
  border: 1px;
}

.input__search {
  height: 43px;
}

.search-input {
  font-size: 1.4rem;
}

.search-icon {
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  ::ng-deep .form-select, .sort-order {
    width: 100% !important;
  }
}

@media only screen and (max-width: 996px) {
  .sort-container__label {
    display: none;
  }
}

@media only screen and (max-width: 1366px) {
  .filter-type {
    font-size: 1.6rem;
  }
}

#clear-search-text-button {
  cursor: pointer;
}

.clear-icon {
  font-size: 2.5rem;
}