$rowHeight: 37px;

.input-group-text {
  border-radius: 10px;
  padding: 0 15px;
}

.form-control {
  border-radius: 10px;
}

.filter-container {
  height: $rowHeight;
}

.filter-container__button {
  height: $rowHeight;
}

.sort-container {
  height: $rowHeight;
  font-weight: 400;
  font-size: 14px;
}

.filter-type {
  height: $rowHeight;
  width: max-content;
  line-height: 16.8px;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 0 15px 0 0;
  gap: 10px;
  cursor: default;
}

.sort-container__label {
  line-height: 25.2px;
}

::ng-deep .form-select {
  height: $rowHeight;
  line-height: 16.8px;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  border-radius: 10px;
  padding: 10px 15px;
  gap: 10px;
  opacity: 80%;
}

::ng-deep .dropdown-menu {
  min-width: 100%;
  margin-top: 10px;
}

::ng-deep .dropdown-item {
  gap: 10px;
  padding: 15px;
  border: 1px;
}

.input__search {
  height: 43px;
}

@media only screen and (max-width: 768px) {
  ::ng-deep .form-select, .sort-order {
    width: 100% !important;
  }
}

@media only screen and (max-width: 996px) {
  .sort-container__label {
    display: none;
  }
}

@media only screen and (max-width: 1366px) {
  .filter-type {
    font-size: 1rem;
  }
}


