.info-title {
  padding-top: 2px;
}

.info-container {
  gap: 0.5rem;

  .status__image {
    height: 20.36px;
    border-radius: 2px;
  }

  span {
    height: 22px;
  }

  hr {
    border-bottom: 1px solid var(--ivy-secondary-bg);
    margin: 0;
    opacity: 1;
  }
}

.logo__vendor__image {
  max-width: 115px;
  max-height: 41px;
}

.vendor-cotnainer {
  width: 115px;
  text-align: right;
}