# Use for the release build instance (PREVIEW and PROD)
# The prefix 'preview_' used to detach dev and preview version on 1 docker system
name: marketplace-preview_${RELEASE_VERSION}

services:
  preview_nginx:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    volumes:
      - ../../marketplace-build/config/nginx/dev/nginx.conf:/etc/nginx/nginx.conf
      - marketcache:/usr/share/nginx/html/market-cache
      - marketbrowser:/usr/share/nginx/html/browser
    ports:
      - "80:80"
    depends_on:
      - preview_ui
      - preview_service

  preview_ui:
    image: ghcr.io/axonivy-market/marketplace-ui:${RELEASE_VERSION}
    environment:
      - MARKET_API_INTERNAL_URL=${MARKET_API_INTERNAL_URL}
      - MARKET_API_URL=${MARKET_API_URL}
      - MARKET_GITHUB_CLIENT_ID=${MARKET_GITHUB_CLIENT_ID}
      - MARKET_GITHUB_AUTH_CALLBACK_PATH=${MARKET_GITHUB_AUTH_CALLBACK_PATH}
      - MARKET_GITHUB_API_URL=${MARKET_GITHUB_API_URL}
      - MARKET_DAY_IN_MILLISECONDS=${MARKET_DAY_IN_MILLISECONDS}
      - MARKET_MATOMO_SITE_ID=${MARKET_MATOMO_SITE_ID}
      - MARKET_MATOMO_TRACKER_URL=${MARKET_MATOMO_TRACKER_URL}
    volumes:
      - marketbrowser:/browser_share
    restart: always
    command: sh -c "cp -r /app/dist/browser/* /browser_share && node dist/server/server.mjs"
    expose:
      - 4000

  preview_service:
    image: ghcr.io/axonivy-market/marketplace-service:${RELEASE_VERSION}
    restart: always
    expose:
      - 8080
    volumes:
      - /home/axonivy/marketplace/data/market-installations.json:/app/data/market-installation.json
      - marketcache:/app/data/market-cache
      - ../logs:/app/logs
    environment:
      - MARKET_GITHUB_MARKET_BRANCH=${MARKET_GITHUB_MARKET_BRANCH}
      - MARKET_GITHUB_TOKEN=${MARKET_GITHUB_TOKEN}
      - MARKET_GITHUB_OAUTH_APP_CLIENT_ID=${MARKET_GITHUB_OAUTH_APP_CLIENT_ID}
      - MARKET_GITHUB_OAUTH_APP_CLIENT_SECRET=${MARKET_GITHUB_OAUTH_APP_CLIENT_SECRET}
      - MARKET_JWT_SECRET_KEY=${MARKET_JWT_SECRET_KEY}
      - MARKET_CORS_ALLOWED_ORIGIN=${MARKET_CORS_ALLOWED_ORIGIN}
      - MARKET_LOG_PATH=${MARKET_LOG_PATH}
      - LOGGING_FILE_PATH=${LOGGING_FILE_PATH}
      - LOGGING_SQL_LEVEL=${LOGGING_SQL_LEVEL}
      - MARKET_CLICK_LIMIT=${MARKET_CLICK_LIMIT}
      - MARKET_LIMITED_REQUEST_PATHS=${MARKET_LIMITED_REQUEST_PATHS}
      - POSTGRES_HOST_URL=${POSTGRES_HOST_URL}
      - POSTGRES_USERNAME=${POSTGRES_USERNAME}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - SHOW_SQL=${SHOW_SQL}
      - MARKET_ENVIRONMENT=${MARKET_ENVIRONMENT}
      - MARKET_SCHEDULING_TASK_PRODUCTS_CRON=${MARKET_SCHEDULING_TASK_PRODUCTS_CRON}
      - MARKET_SCHEDULING_TASK_DOCUMENTS_CRON=${MARKET_SCHEDULING_TASK_DOCUMENTS_CRON}
      - MARKET_SCHEDULING_TASK_PRODUCTS_RELEASE_NOTES_CRON=${MARKET_SCHEDULING_TASK_PRODUCTS_RELEASE_NOTES_CRON}
      - MARKET_SCHEDULING_TASK_GITHUB_REPOS_CRON=${MARKET_SCHEDULING_TASK_GITHUB_REPOS_CRON}
      - SESSION_COOKIE_SECURE=${SESSION_COOKIE_SECURE}
volumes:
  marketcache:
  marketbrowser:
