<div class="token-container">
      <div class="header">
        <h2 class="text-primary text-center">
          {{ 'common.admin.pageTitle' | translate }}
        </h2>
        <h3 class="text-primary text-center">
          {{ 'common.admin.description' | translate }}
        </h3>
      </div>
      <div class="token-input-container">
        <h3 class="text-primary">
          {{ 'common.admin.enterToken' | translate }}
        </h3>
        <div>
          <input
            id="token-input"
            type="password"
            [(ngModel)]="token"
            [attr.placeholder]="
              'common.admin.enterTokenPlaceholder' | translate
            " />
          <button
            class="btn-primary"
            (click)="onSubmit()"
            [ngClass]="themeService.isDarkMode() ? 'text-dark' : 'text-light'">
            {{ 'common.admin.proceedBtnLabel' | translate }}
          </button>
          @if (errorMessage) {
            <div class="error-message">{{ errorMessage }}</div>
          }
        </div>
      </div>
    </div>