<div class="container">
  @if (isAuthenticated) {
    <div class="admin-main__content">
      @if (showSyncTask) {
        <div class="row col-md-12">
          <h1
            class="text-primary title"
            [lang]="languageService.selectedLanguage()">
            {{ translateService.get('common.admin.sync.title') | async }}
          </h1>
          <div class="introduction-container">
            <div class="d-sm-block about">
              <h3 class="text-secondary">
                {{
                  translateService.get('common.admin.sync.description') | async
                }}
              </h3>
            </div>
            <div
              class="d-sm-block align-items-center help-text-container flex-fill">
              <h4
                [lang]="languageService.selectedLanguage()"
                class="text-secondary help-text"
                [innerHTML]="
                  translateService.get('common.admin.sync.helpText') | async
                "></h4>
            </div>
          </div>
        </div>
        <div class="table-responsive admin-main__table">
          <table class="table">
            <thead>
              <tr>
                <th
                  class="text-primary"
                  [lang]="languageService.selectedLanguage()">
                  {{ 'common.admin.sync.number' | translate }}
                </th>
                <th
                  class="text-primary"
                  [lang]="languageService.selectedLanguage()">
                  {{ 'common.admin.sync.syncTask' | translate }}
                </th>
                <th
                  class="text-primary"
                  [lang]="languageService.selectedLanguage()">
                  {{ 'common.admin.sync.status' | translate }}
                </th>
                <th
                  class="text-primary"
                  [lang]="languageService.selectedLanguage()">
                  {{ 'common.admin.sync.lastRun' | translate }}
                </th>
                <th
                  class="text-primary"
                  [lang]="languageService.selectedLanguage()">
                  {{ 'common.admin.sync.completed' | translate }}
                </th>
                <th
                  class="text-primary"
                  [lang]="languageService.selectedLanguage()">
                  {{ 'common.admin.sync.message' | translate }}
                </th>
                <th
                  class="text-primary"
                  [lang]="languageService.selectedLanguage()">
                  {{ 'common.admin.sync.action' | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let syncTask of syncTasks; let index = index">
                <td>{{ index + 1 }}</td>
                <td>{{ syncTask.labelKey | translate }}</td>
                <td>
                  <span [ngClass]="getStatusClass(syncTask.status)">
                    {{ syncTask.status }}
                  </span>
                </td>
                <td>
                  {{ syncTask.triggeredAt | date: 'short' }}
                </td>
                <td>
                  {{ syncTask.completedAt | date: 'short' }}
                </td>
                <td class="message-cell">
                  {{ syncTask.message }}
                </td>
                <td>
                  <button
                    type="button"
                    [lang]="languageService.selectedLanguage()"
                    class="btn border-0 mb-0 sync-button text-center"
                    [ngClass]="
                      themeService.isDarkMode()
                        ? 'btn-light text-dark'
                        : 'btn-primary text-light'
                    "
                    (click)="trigger(syncTask)"
                    [disabled]="syncTask.status === 'RUNNING'">
                    @if (
                      loadingSyncTaskKey === syncTask.key ||
                      syncTask.status === 'RUNNING'
                    ) {
                      <i class="fa fa-spinner fa-spin me-2"></i>
                      {{ 'common.admin.sync.syncingLabel' | translate }}
                    } @else {
                      {{ 'common.admin.sync.syncLabel' | translate }}
                    }
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Sync One Product Dialog -->
        @if (showSyncOneProductDialog) {
          <div class="modal-backdrop"></div>
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header justify-content-between">
                <h5 class="modal-title">
                  {{
                    'common.admin.sync.syncOneProductDialog.title' | translate
                  }}
                </h5>
                <button
                  type="button"
                  class="btn-close ms-auto"
                  (click)="cancelSyncOneProduct()"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label class="form-label" for="sync-extension-id">
                    {{ 'common.admin.extensionId' | translate }}
                  </label>
                  <div class="dropdown position-relative w-100">
                    <input
                      type="text"
                      class="sync-extension-id form-control dropdown-toggle"
                      [(ngModel)]="productSearch"
                      (focus)="openDropdown()"
                      (input)="filterProducts()"
                      [placeholder]="
                        translateService.get(
                          'common.admin.sync.syncOneProductDialog.chooseExtensionIdHint'
                        ) | async
                      "
                      autocomplete="off" />
                    <ul
                      class="dropdown-menu show w-100"
                      *ngIf="dropdownOpen && filteredProducts.length">
                      @for (product of filteredProducts; track $index) {
                        <li
                          class="dropdown-item"
                          (click)="selectProduct(product)">
                          {{ product.id }}
                        </li>
                      }
                    </ul>
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="sync-market-path">
                    {{
                      'common.admin.sync.syncOneProductDialog.marketItemPath'
                        | translate
                    }}
                  </label>
                  <input
                    id="sync-market-path"
                    class="form-control"
                    [(ngModel)]="marketDirectory"
                    disabled="true" />
                  <small class="text-muted">
                    {{
                      'common.admin.sync.syncOneProductDialog.chooseMarketItemPathHint'
                        | translate
                    }}
                  </small>
                </div>
                <div class="form-check mb-2">
                  <input
                    id="overridePath"
                    type="checkbox"
                    class="form-check-input"
                    [(ngModel)]="overrideMarketItemPath" />
                  <label for="overridePath" class="form-check-label">
                    {{
                      'common.admin.sync.syncOneProductDialog.overrideMarketItemPath'
                        | translate
                    }}
                  </label>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  class="btn btn-cancel btn-secondary me-2"
                  (click)="cancelSyncOneProduct()">
                  {{ 'common.admin.sync.cancelLabel' | translate }}
                </button>
                <button
                  class="btn border-0 btn-primary"
                  (click)="confirmSyncOneProduct()"
                  [disabled]="!isValidSyncOneProductValues()">
                  {{ 'common.admin.sync.syncLabel' | translate }}
                </button>
              </div>
            </div>
          </div>
        }
      }
      <router-outlet></router-outlet>
    </div>
  } @else if (!isAuthenticated) {
    <div class="token-container">
      <div class="header">
        <h2 class="text-primary text-center">
          {{ 'common.admin.pageTitle' | translate }}
        </h2>
        <h3 class="text-primary text-center">
          {{ 'common.admin.description' | translate }}
        </h3>
      </div>
      <div class="token-input-container">
        <h3 class="text-primary">
          {{ 'common.admin.enterToken' | translate }}
        </h3>
        <div>
          <input
            id="token-input"
            type="password"
            [(ngModel)]="token"
            [attr.placeholder]="
              'common.admin.enterTokenPlaceholder' | translate
            " />
          <button
            class="btn-primary"
            (click)="onSubmit()"
            [ngClass]="themeService.isDarkMode() ? 'text-dark' : 'text-light'">
            {{ 'common.admin.proceedBtnLabel' | translate }}
          </button>
          @if (errorMessage) {
            <div class="error-message">{{ errorMessage }}</div>
          }
        </div>
      </div>
    </div>
  }
  @if (isLoading) {
    <app-loading-spinner
      containerClasses="d-flex justify-content-center position-fixed align-items-center top-0 end-0 bottom-0 start-0 rounded overlay-background z-1"
      [key]="LoadingComponentId.ADMIN_DASHBOARD" />
  }
</div>
