<!-- Footer -->
<div class="footer-container container">
  <!-- Section: Ivy Information -->
  <section class="d-flex justify-content-lg-between justify-content-center border-bottom info_left">
    <div class="flex-column text-center text-lg-start">
      <!-- Left -->
      <div class="logo">
        <img class="logo__image" [src]="
            themeService.isDarkMode()
              ? '/assets/images/misc/axonivy-logo.svg'
              : '/assets/images/misc/axonivy-logo-black.svg'
          " alt="Axon Ivy" />
      </div>
      <div
        [lang]="languageService.selectedLanguage()"
        class="footer-text text-secondary default-cursor"
        [innerHtml]="'common.footer.newVersionsInfo' | translate"></div>
      <div class="button-container flex-row">
        <a class="download-button" href="{{ downloadUrl }}">
          <button
            [lang]="languageService.selectedLanguage()"
            class="btn btn-primary border-0 download-button"
            [ngClass]="themeService.isDarkMode() ? 'text-dark' : 'text-light'">
            {{ 'common.footer.download' | translate }}
          </button>
        </a>
      </div>
    </div>
    <!-- Right -->
    <div class="footer__navbar d-flex align-items-center d-none d-xl-block">
      <div class="navbar navbar-expand-lg">
        <ul class="navbar-nav me-auto mb-lg-0">
          @for (item of navItems; track $index) {
            @let isHomePage = item.link === '/';
            <li class="nav-item">
              @if (isHomePage) {
                <a [lang]="languageService.selectedLanguage()" class="nav-link text-primary active"
                  aria-current="page"
                  [routerLink]="item.link" >
                  {{ item.label | translate | uppercase }}
                </a>
              } @else {
                <a [lang]="languageService.selectedLanguage()" class="nav-link text-muted"
                  aria-current="page"
                  [href]="item.link" >
                  {{ item.label | translate | uppercase }}
                </a>
              }
            </li>
          }
        </ul>
      </div>
    </div>
  </section>
  <!-- Section: Policy & Social Media -->
  <section class="d-flex flex-lg-row flex-column justify-content-between social-media-section">
    <div class="navbar navbar-expand-xl align-self-md-center w-md-100">
      <!-- Left -->
      <div
        class="flex-row navbar-nav me-auto mb-lg-0 flex-wrap w-md-100 justify-content-center text-center footer__ivy-policy">
        @for (ivyFooterLink of ivyFooterLinks; track $index) {
          @if (ivyFooterLink.label === 'common.footer.ivyCompanyInfo') {
            <div class="link--left text-secondary h5-text" [class]="ivyFooterLink.containerStyleClass">
              © {{ year }} {{ ivyFooterLink.label | translate }}
            </div>
          } @else {
            <div class="link--left" [class]="ivyFooterLink.containerStyleClass">
              <a [lang]="languageService.selectedLanguage()" class="nav-link policy-link text-secondary h5-text" aria-current="page" [href]="ivyFooterLink.link" target="_blank">
                {{ ivyFooterLink.label | translate }}
              </a>
            </div>
          }
        }
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-center footer__social-media">
      <div class="navbar navbar-expand-lg">
        <ul class="navbar-nav flex-row social-link-container">
          @for (link of socialMediaLinks; track $index) {
          <li>
            <a
              class="social-link text-primary"
              aria-current="page"
              target="_blank"
              [href]="link.url"
              [title]="link.title">
                <span class="d-flex justify-content-center align-items-center link-icon">
                  <i [class]="link.styleClass" class="w-100 h-100"></i>
                </span>
            </a>
          </li>
          }
        </ul>
      </div>
    </div>
  </section>
</div>
<!-- Footer -->
