.logo {
  margin: 0 0 2rem 0;
}

.logo__image {
  width: 132px;
  height: 20px;
  margin-top: 1rem;
  vertical-align: initial;
}

.nav-item {
  margin: 0 0 0 30px;
}

.nav-link {
  font-weight: 600;
  padding: 0 15px;
}

.button-container {
  margin: 24px 0 0 0;
}

.link-icon {
  width: 18px;
  height: 18px;
}

.link--left {
  margin: 0 2rem 0 0;
}

.h5-text {
  font-weight: 400;
  font-size: 16px;
}

.btn-secondary {
padding: 8px 12px;
border-radius: 7px;
border: 0.5px solid var(--header-border-color);
}

@media all and (max-width: 990px) {
  .link--left {
    margin: 0;
  }
}
