<!-- Footer -->
<div class="mt-5">
  <!-- Section: Ivy Information -->
  <section
    class="d-flex justify-content-lg-between justify-content-center py-4 border-bottom">
    <div class="flex-column text-center text-lg-start">
      <!-- Left -->
      <div class="logo">
        <img
          class="logo__image"
          [src]="
            themeService.isDarkMode()
              ? '/assets/images/misc/axonivy-logo.svg'
              : '/assets/images/misc/axonivy-logo-black.svg'
          "
          alt="Axon Ivy"/>
      </div>
      <div
        class="text-secondary"
        [innerHtml]="'common.footer.newVersionsInfo' | translate"></div>
      <div class="button-container flex-row">
        <button
          class="btn btn-primary border-0"
          [ngClass]="themeService.isDarkMode() ? 'text-dark' : 'text-light'">
          {{ 'common.footer.downloadLatestLTSVersion' | translate }}
        </button>
        <button class="btn btn-secondary m-2">
          {{ 'common.footer.downloadLatestDevVersion' | translate }}
        </button>
      </div>
    </div>

    <!-- Right -->
    <div class="footer__navbar d-flex align-items-center d-none d-xl-block">
      <div class="navbar navbar-expand-lg">
        <ul class="navbar-nav me-auto mb-lg-0">
          @for (item of navItems; track $index) {
          <li class="nav-item">
            <a
              class="nav-link"
              [ngClass]="
                  item.link === '/' ? 'text-primary fw-bold' : 'text-muted'
                "
              aria-current="page">
              {{ item.label | translate | uppercase }}
            </a>
          </li>
          }
        </ul>
      </div>
    </div>
  </section>
  <!-- Section: Policy & Social Media -->
  <section
    class="d-flex flex-lg-row flex-column justify-content-between py-4 border-bottom">
    <div class="navbar navbar-expand-xl align-self-md-center w-md-100">
      <!-- Left -->
      <div
        class="flex-row navbar-nav me-auto mb-lg-0 flex-wrap w-md-100 justify-content-center text-center footer__ivy-policy">
        @for (link of ivyFooterLinks; track $index) {
        <div class="link--left" [class]="link.containerStyleClass">
          <a class="nav-link text-secondary" aria-current="page">
            {{ link.label | translate }}
          </a>
        </div>
        }
      </div>
    </div>

    <div
      class="d-flex align-items-center justify-content-center footer__social-media">
      <div class="navbar navbar-expand-lg">
        <ul class="navbar-nav me-auto mb-lg-0 flex-row">
          @for (link of socialMediaLinks; track $index) {
          <li>
            <a class="nav-link" aria-current="page" [href]="link.url">
                <span
                  class="d-flex justify-content-center align-items-center link-icon">
                  <i [class]="link.styleClass" class="w-100 h-100"></i>
                </span>
            </a>
          </li>
          }
        </ul>
      </div>
    </div>
  </section>
</div>
<!-- Footer -->
