<ul
  class="navbar-nav navbar-nav--right mr-auto flex-lg-row flex-column-reverse align-items-lg-center align-items-sm-stretch header__action">
  <div class="google-search-container text-primary google-search-svg-primary"
    [ngStyle]="{'display' : isGoogleSearchBarDisplayed() ? 'block' : 'none'}">
    <div class="gcse-search"></div>
  </div>
  @if (isGoogleSearchBarDisplayed() == false) {
  <!-- Language Selection -->
  <div class="d-flex flex-row-reverse flex-lg-row justify-content-between border-top-md-gray header__button">
    <li class="header__button--right">
      <app-language-selection></app-language-selection>
    </li>

    <!-- Theme Mode -->
    <li class="header__button--right">
      <app-theme-selection></app-theme-selection>
    </li>
  </div>

  <!-- Collapse Search -->
  <li class="d-none d-lg-flex header__button--right">
    @if (isGoogleSearchBarDisplayed()) {
    <div class="google-search-container text-primary google-search-svg-primary">
      <div class="gcse-search"></div>
    </div>
    }
    @else {
    <div class="search-icon">
      <i class="bi bi-search header__search-button" (click)="onClickSearchIcon()"></i>
    </div>
    }
  </li>
  }
</ul>