<div>
  <div class="modal-header">
    <h3>{{ 'common.admin.newsManagement.warning' | translate }}</h3>
  </div>
  <div class="modal-body">
    <div class="p-0 release-letter-content">
      {{ translateService.get('common.admin.newsManagement.draftAlertMessage') | async }}
    </div>
    <div class="modal-footer">
      <button
        (click)="onConfirm()"
        type="button"
        [lang]="languageService.selectedLanguage()"
        class="btn border-0 mb-0 me-2"
        [ngClass]="themeService.isDarkMode() ? 'btn-light text-dark' : 'btn-primary text-light'">
        {{ translateService.get('common.language.yes') | async }}
      </button>
      <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">
        {{ translateService.get('common.language.no') | async }}
      </button>
    </div>
  </div>
</div>
