<div class="d-flex flex-row align-items-center">
  <p class="text-primary mb-0 text-nowrap">{{'common.sort.label' | translate}}:</p>
<!--  <select-->
<!--    class="form-select border-primary text-primary"-->
<!--    aria-label="sort"-->
<!--    [ngModel]="productFeedbackService.sort()"-->
<!--    (change)="onSortChange($event)">-->
<!--    @for (type of feedbackSortTypes; track $index) {-->
<!--      <option [value]="type.sortFn">-->
<!--        {{ type.label | translate }}-->
<!--      </option>-->
<!--    }-->
<!--  </select>-->

<!--  <div id="artifacts-selector">-->
    <app-common-dropdown
      [items]="feedbackSortTypes"
      [selectedItem]="selectedSortTypeLabel | translate"
      [labelKey]="'label'"
      buttonClass="form-select border-primary text-primary"
      ariaLabel="sort"
      (itemSelected)="onSortChange($event)">
    </app-common-dropdown>
<!--  </div>-->
</div>
