select {
  border-radius: 10px;
  font-size: 14px;
  line-height: 120%;
  font-weight: 400;
  padding: 10px 15px 10px auto;
  height: 37px;
  opacity: 0.8;
  border: 1px solid;
  cursor: pointer;
  option {
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
  }
}

p {
  margin-right: 20px;
}
