@if (visible) {
  <div class="custom-modal-wrapper" [class.modal-closing]="isClosing">
    <div class="modal-content custom-modal" [class.modal-closing]="isClosing">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'common.admin.deprecation.deprecateProduct' | translate }}</h5>
        <button
          type="button"
          class="btn-close"
          [disabled]="isDeprecating"
          (click)="closeDialog.emit()"></button>
      </div>

      <div class="modal-body">
        <div class="mb-4 position-relative">
          <label class="form-label">
            {{ 'common.admin.deprecation.extensionId' | translate }}
            <i class="ti ti-info-circle ms-1"
               placement="top"
               [ngbTooltip]="'common.admin.deprecation.extensionIdTooltip' | translate"
               tooltipClass="custom-tooltip-class"></i>
          </label>
          <input
            type="text"
            [class.form-control]="true"
            [class.is-invalid]="validationErrors['productId']"
            [(ngModel)]="productId"
            [disabled]="isDeprecating"
            placeholder="{{ 'common.admin.deprecation.productIdInputPlaceholder' | translate }}"
            (click)="openDropdown.emit()"
            (input)="filterProducts.emit(productId)"
            (blur)="onBlur()"
          />
          @if (validationErrors['productId']) {
            <div class="invalid-feedback d-block">
              {{ validationErrors['productId'] }}
            </div>
          }
          @if (dropdownOpen && filteredProductIds.length) {
            <ul class="form-control show w-100 dropdown-menu-custom">
              @for (productId of filteredProductIds; track $index) {
                <li (mousedown)="selectProduct.emit(productId)" class="dropdown-item">{{ productId }}</li>
              }
            </ul>
          }
        </div>

        <div class="form-check mb-3">
          <input
            type="checkbox"
            class="form-check-input"
            [(ngModel)]="deprecationRequest.hasAlternativeExtension"
            [disabled]="isDeprecating"
            id="has-alternative-extension-checkbox"
          />
          <label class="form-check-label" for="has-alternative-extension-checkbox">
            {{ 'common.admin.deprecation.hasAlternativeExtension' | translate }}
            <i class="ti ti-info-circle ms-1"
               placement="top"
               [ngbTooltip]="'common.admin.deprecation.hasAlternativeExtensionTooltip' | translate"
               tooltipClass="custom-tooltip-class"></i>
          </label>
        </div>

        @if (deprecationRequest.hasAlternativeExtension) {
          <div class="mb-2">
            <label class="form-label">
              {{ 'common.admin.deprecation.alternativeExtension' | translate }}
              <i class="ti ti-info-circle ms-1"
                 placement="top"
                 [ngbTooltip]="'common.admin.deprecation.alternativeExtensionTooltip' | translate"
                 tooltipClass="custom-tooltip-class"></i>
            </label>
            <input
              type="text"
              [class.form-control]="true"
              [class.is-invalid]="validationErrors['alternativeExtension']"
              [(ngModel)]="deprecationRequest.alternativeExtension"
              [disabled]="isDeprecating"
              placeholder="{{ 'common.admin.deprecation.alternativeExtensionInputPlaceholder' | translate }}"
            />
            @if (validationErrors['alternativeExtension']) {
              <div class="invalid-feedback d-block">
                {{ validationErrors['alternativeExtension'] }}
              </div>
            }
          </div>

          <div class="mb-2">
            <label class="form-label">
              {{ 'common.admin.deprecation.successor' | translate }}
              <i class="ti ti-info-circle ms-1"
                 placement="top"
                 [ngbTooltip]="'common.admin.deprecation.successorTooltip' | translate"
                 tooltipClass="custom-tooltip-class"></i>
            </label>
            <input
              type="text"
              [class.form-control]="true"
              [class.is-invalid]="validationErrors['successorUrl']"
              [(ngModel)]="deprecationRequest.successorUrl"
              [disabled]="isDeprecating"
              placeholder="{{ 'common.admin.deprecation.successorInputPlaceholder' | translate }}"
            />
            @if (validationErrors['successorUrl']) {
              <div class="invalid-feedback d-block">
                {{ validationErrors['successorUrl'] }}
              </div>
            }
          </div>
        }

        <div class="form-check mt-3">
          <input
            type="checkbox"
            class="form-check-input"
            [(ngModel)]="deprecationRequest.isAddReadme"
            [disabled]="isDeprecating"
            (click)="readmeChecked.emit()"
            id="add-readme-checkbox"
          />
          <label class="form-check-label" for="add-readme-checkbox">
            {{ 'common.admin.deprecation.updateForReadmeText' | translate }}
            <i class="ti ti-info-circle ms-1"
               placement="top"
               [ngbTooltip]="'common.admin.deprecation.updateForReadmeTextTooltip' | translate"
               tooltipClass="custom-tooltip-class"></i>
          </label>
        </div>

        <div class="form-check mt-3">
          <input
            type="checkbox"
            class="form-check-input"
            [(ngModel)]="deprecationRequest.isArchivedGithubRepo"
            [disabled]="isDeprecating"
            id="archive-github-repo-checkbox"
          />
          <label class="form-check-label" for="archive-github-repo-checkbox">
            {{ 'common.admin.deprecation.archiveGithubRepoText' | translate }}
          </label>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-cancel btn-secondary me-2" (click)="closeDialog.emit()">
          {{ 'common.admin.sync.cancelLabel' | translate }}
        </button>
        <button
          type="button"
          class="btn border-0 btn-primary"
          [disabled]="isDeprecating"
          (click)="submitForm.emit()">
          @if (isDeprecating) {
            <span class="spinner-border spinner-border-sm me-2" aria-hidden="true"></span>
          }
          {{ 'common.admin.deprecation.deprecatedButton' | translate }}
        </button>
      </div>
    </div>
  </div>

  <div
    class="custom-backdrop"
    [class.backdrop-closing]="isClosing"
    (click)="!isDeprecating && closeDialog.emit()"></div>
}
