<div class="modal-content-wrapper">
  <div class="modal-header border-bottom-0">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <img ngSrc="/assets/images/misc/confetti-icon.png" width="60" height="60" alt="Confetti Icon">
    <h4 [lang]="languageService.selectedLanguage()" class="text-primary">
      {{ 'common.feedback.successMessage' | translate }}
    </h4>
    <h4 [lang]="languageService.selectedLanguage()" class="text-primary">{{ 'common.feedback.thankMessage' | translate
      }} {{ authService.getDisplayName() ?? '' }}</h4>
  </div>
</div>