
<aside id="app-sidebar" class="sidebar" [class.open]="isOpen" aria-label="Sidebar navigation">
  <div class="top-section">
  </div>

  <div class="menu">
    <ng-container *ngFor="let item of menu">
      <a
        class="item text-decoration-none"
        *ngIf="!item.children"
        [routerLink]="item.route"
        routerLinkActive="active"
        [attr.title]="!isOpen ? item.label : null"
      >
        <span class="icon" aria-hidden="true" [ngClass]="item.icon"></span>
        <span class="label" *ngIf="isOpen">{{ item.label }}</span>
      </a>
    </ng-container>
  </div>

  <div class="footer">
  </div>
</aside>