.badge-image {
  cursor: pointer;
}

.built-date {
  font-size: 1.2rem !important;
  font-weight: 400;
  line-height: 15px;
}

.sub-status {
  margin: 0.5rem 0;
  cursor: pointer;
}

.sub-status.empty-test-row {
  visibility: hidden;
}

.workflow-icon {
  padding-bottom: 0.2em;
  vertical-align: middle;
}