<div
  class="card product-card w-100"
  [style.height]="!isShowInRESTClientEditor ? '250px' : '164px'">
  <div class="d-flex justify-content-between align-items-start">
    <img
      class="card-img-top rounded"
      width="70"
      height="70"
      [ngSrc]="themeService.isDarkMode() ? logoDarkUrl : logoUrl"
      (error)="onLogoError()"
      [alt]="
        product.names | multilingualism: languageService.selectedLanguage()
      "
      [lang]="languageService.selectedLanguage()" />
    @if (isShowInRESTClientEditor) {
      <div class="internal-badge-container d-flex align-items-center gap-1">
        @if (product.internal) {
           <div class="lh-md px-2 py-1 text-capitalize">
          <img
            class="internal-badge"
            [src]="themeService.isDarkMode()
              ? darkInternalBadgeUrl
              : lightInternalBadgeUrl"
            alt="Internal" />
            </div>
        }

        <div
          class="card__tag lh-md px-2 py-1 text-capitalize"
          [ngClass]="themeService.isDarkMode() ? 'text-dark' : 'text-light'">
          {{ product.tags[0] }}
        </div>
      </div>
    } @else {
      <div class="internal-badge-container d-flex gap-2 align-items-center">
        @if (product.internal) {
          <div class="lh-md px-2 py-1 text-capitalize">
          <img
            class="internal-badge"
            [src]="themeService.isDarkMode()
              ? darkInternalBadgeUrl
              : lightInternalBadgeUrl"
            alt="Internal" />
            </div>
        }

        @if (product.deprecated) {
          <div
            [lang]="languageService.selectedLanguage()"
            class="card__tag card__tag--deprecated lh-md px-2 py-1 text-capitalize">
            {{ 'common.deprecated' | translate }}
          </div>
        }

        <div
          [lang]="languageService.selectedLanguage()"
          class="card__tag lh-md px-2 py-1"
          [ngClass]="themeService.isDarkMode() ? 'text-dark' : 'text-light'">
          {{ 'common.filter.value.' + product.type | translate }}
        </div>
      </div>
    }
  </div>
  <div>
    <h5
      class="card__title text-primary"
      [lang]="languageService.selectedLanguage()">
      {{ product.names | multilingualism: languageService.selectedLanguage() }}
    </h5>
    @if (!isShowInRESTClientEditor) {
      <p
        class="card__description text-secondary"
        [lang]="languageService.selectedLanguage()">
        {{
          product.shortDescriptions
            | multilingualism: languageService.selectedLanguage()
        }}
      </p>
    }
  </div>
</div>
