<div
  class="app-container"
  [ngClass]="{ 'header-mobile-container': !this.isMobileMenuCollapsed }">
  @if (!routingQueryParamService.isDesignerEnv()) {
    <header
      class="d-flex align-items-center"
      [ngClass]="{ 'header-mobile': !this.isMobileMenuCollapsed }">
      <div class="container">
        <app-header
          [(isMobileMenuCollapsed)]="isMobileMenuCollapsed"></app-header>
      </div>
    </header>
  }
  <main>
    <div class="container">
      <router-outlet />
    </div>
  </main>
  @if (!routingQueryParamService.isDesignerEnv()) {
    <footer>
      <app-footer></app-footer>
    </footer>
  }

  @if (loadingService.isLoading()) {
    <app-loading-spinner />
  }
</div>
